div.debug {
	font-size: 9px;
	font-family: Verdana, helvetica, sans-serif;
/*	position: absolute; */
	bottom: 10px;
}

html>body div.debug {
	top: 10px;
	position: relative;
}

.debug p {
	border-bottom: 1px dashed #CCC;
	padding: 0px;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.debug p.error {
	color: red;
}

.cus_red {
    background-color: #66ffff;
}