

/* Primary Page */
BODY
   {
   color:white;
   background-color: AliceBlue;
   font-family:sans-serif;
   }



/* Top Menu Bar */

div.mainmenu {
   background-color: #E5E5E5;
   border:outset;

   position: relative;
   padding: 7px;
	font-size: 12px;
   width: auto;
	height: 50px;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 20px;
   text-align: right;
}

div.empty {
   margin-bottom: 8px;
}
/* Main task window*/
div.content {
	text-align: center;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8EEF2;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
        padding-top: 4px;
        padding-bottom: 4px;
	font-size: 11px;
	border:outset;
}

div.adminmenu {
	border-bottom: 1px dotted #333;
	text-align: center;
	font-size: 11px;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 7px;
	padding-bottom: 5px;
	font-size: 11px;
}

div.searchmenu {
	background-color: #B3CAEB;
	border: 1px dashed #333;
	text-align: center;
  margin-left: 3%;
  margin-right: 3%;
	margin-bottom: 11px;
	margin-top: 11px;
	width: auto;
	padding-top: 9px;
}

div.divider {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px dotted #333;
}

div.footer p {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 11px;
}
/* This is the highlight for the footer */
div.footer a {
	color: black;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #B3CAEB;
	}

tr form {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;

}

td.calmonth {
	background-color: #DBDBDB;
	border: 1px solid black;
	color: black;
	border: 1px solid;
	height: 35px;
	text-align: center;
	font-size: 12px;
}

table.cal {
	background-color: linen;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: navy	;
	border: 1px solid black;
}

td.cal {
	background-color: Silver;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid black;
	color: #000000;
	border: 1px solid;
	height: 75px;
	text-align: center;
}

td.actions {
	color: Navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}

th.cal {
	background-color: linen;
	color: navy;
	border: 1px solid black;
	text-align: center;
}

td.calblank {
	background-color: linen;
	color: #000000;
	border: 1px solid black;
	height: 75px;
	text-align: center;
}

td.caltoday {
/*   background-color: #9999F4; */
	background-color: #999991;
	color: #000000;
	border: 1px solid black;
	height: 75px;
	text-align: center;
}

tr.cal {
	border: 1px solid black;
}

td.popcalmonth {
	background-color: #B3CAEB;
	border: 1px solid black;
	color: black;
	border: 1px solid;
	height: 50px;
	text-align: center;
	font-size: 12px;
}

table.popcal {
	background-color: linen;
	color: navy;
	border: 1px solid black;
}

td.popcal {
	background-color: #B3CAEB;
	border: 1px solid black;
	color: #000000;
	border: 1px solid;
	height: 50px;
	text-align: center;
}

th.popcal {
	background-color: linen;
	color:navy;
	border: 1px solid black;
	text-align: center;
}

td.popcalblank {
	background-color: linen;
	color: #000000;
	border: 1px solid black;
	height: 25px;
	text-align: center;
}

td.popcaltoday {
	background-color: #E5E5E5;
	color: #000000;
	border: 1px solid black;
	height: 25px;
	text-align: center;
}

tr.popcal {
	border: 1px solid black;
}

table {
	border: 1px solid #333;
	background-color: #eee;
	color: #000;
	padding: 2px;
	margin-left: 9px;
	margin-right: 9px;
	border-collapse: collapse;
}

th {
	background-color: #c8ccc8;
	padding-left: 4px;
	padding-right: 4px;
}

table.edittask {
   border: none;
}

table.tasklist {
	border: 2px solid #333;
   margin-left: auto;
	margin-right: auto;
	width: auto;
	
}

table.tasklist th {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

table.tasklist td {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.adminmenu th {
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.adminmenu td {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.adminmenu table {
	border: 2px solid #333;
}

tr.odd {
   font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
   background-color: #d8dcd8;
}

tr.even {
   font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
   background-color: #e8ece8;
}
tr.new {
   font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
 }

/*
*  multiple colors:
*     [odd|even]_ + priority
*
*  I've commented out some companion colors, as on the task list they
*  looked like different priorities, and that's not the wanted effect,
*  except for the undefined priority.
*/
tr.odd_1 {
   font-family: Arial, Helvetica, sans-serif;
	color: blue;
	font-size: 11px;
	font-weight: bold;
	padding-left: 15px;
/*	background-image: url(images/check.gif); */
	background-repeat: no-repeat;
	border: 1px dotted;
	text-align: center;
}

td.odd_1 {
   background-image: url(images/check.gif);
	background-repeat: no-repeat;
}

tr.even_1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
	color: blue;
	padding-left: 15px;
/*	background-image: url(images/check.gif); */
	background-repeat: no-repeat;
	font-weight: bold;
	border: 1px dotted;
	text-align: center;
}

td.even_1 {
	background-image: url(images/check.gif);
	background-repeat: no-repeat;
}

tr.odd_2 {
   font-family: Arial, Helvetica, sans-serif;
	color: Green;
	font-size: 11px;
	font-weight: bold;
	padding-left: 15px;
/*	background-image: url(images/check.gif); */
	background-repeat: no-repeat;
	border: 1px dotted;
	text-align: center;
}

td.odd_2 {
	background-image: url(images/check.gif);
	background-repeat: no-repeat;
}

tr.even_2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
	color: Green;
	padding-left: 15px;
/*	background-image: url(images/check.gif); */
	background-repeat: no-repeat;
	font-weight: bold;
	border: 1px dotted;
	text-align: center;
}

td.even_2 {
	background-image: url(images/check.gif);
	background-repeat: no-repeat;
}

tr.odd_3 {
   font-family: Arial, Helvetica, sans-serif;
	color:red;
   font-size: 11px;
	padding-left: 15px;
/*	background-image: url(images/check.gif); */
	background-repeat: no-repeat;
	border: 1px dotted;
	font-weight: bold;
	text-align: center;
}

td.odd_3 {
	background-image: url(images/redled.gif);
	background-repeat: no-repeat;
}

tr.even_3 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
	font-weight: bold;
	color:red;
	padding-left: 15px;
/*	background-image: url(images/redled.gif); */
	background-repeat: no-repeat;
	border: 1px dotted;
	text-align: center;
}

td.even_3 {
	background-image: url(images/redled.gif);
	background-repeat: no-repeat;
}

tr.odd_4 {
   font-family: Arial, Helvetica, sans-serif;
	color: Red;
	font-size: 11px;
	font-weight: bold;
	padding-left: 15px;
/*	background-image: url(images/warning.gif); */
	background-repeat: no-repeat;
	border: 1px dotted;
	text-align: center;
}

td.odd_4 {
	background-image: url(images/warning.gif);
	background-repeat: no-repeat;
}

tr.even_4 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
	color: Red;
	padding-left: 15px;
/*	background-image: url(images/warning.gif); */
	background-repeat: no-repeat;
	font-weight: bold;
	border: 1px dotted;
	text-align: center;
}

td.even_4 {
	background-image: url(images/warning.gif);
	background-repeat: no-repeat;
}

tr.odd_5 {
   font-family: Arial, Helvetica, sans-serif;
	color: Black;
	font-size: 11px;
	font-weight: bold;
	padding-left: 15px;
/*	background-image: url(images/hand.gif); */
	background-repeat: no-repeat;
	border: 1px dotted;
	text-align: center;
}

td.odd_5 {
	background-image: url(images/hand.gif);
	background-repeat: no-repeat;
}

tr.even_5 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 11px;
	color: Black;
	padding-left: 15px;
/*	background-image: url(images/hand.gif); */
	background-repeat: no-repeat;
	font-weight: bold;
	border: 1px dotted;
	text-align: center;
}

td.even_5 {
	background-image: url(images/hand.gif);
	background-repeat: no-repeat;
}


td {
	padding-left: 4px;
	padding-right: 4px;
}

input.btn,
select.btn,
textarea.btn,
.actions a {
	font-family: Arial, Helvetica, sans-serif;
        font-size: 11 px;
	background-color: linen;
	color: black;
	font-weight: bold;
	border: 1px solid;
	border-top-color: #696;
	border-left-color: #696;
	border-right-color: #363;
	border-bottom-color: #363;
	filter:progid:DXImageTransform.Microsoft.Gradient
		(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');

}

input.btnhov {
	border-top-color: #c63;
	border-left-color: #c63;
	border-right-color: #930;
	border-bottom-color: #930;
	font-weight: bold;
}

div.taskbuttons {
	margin-left: 9px;
	margin-top: 5px;
}

div.grouptitle {
	margin-left: 9px;
}

.mainmenu ul {
	padding: 1px;
	margin: 10px 10px;
	background-image: url(images/mainmenu.gif);
	background-repeat: no-repeat;
	height: 35px;
	
}

.mainmenu li:first-child
{
	padding-left: 15px;
	background-image: url(images/tasks.gif);
	background-repeat: no-repeat;
}
.adminmenu li:first-child {
	padding-left: 15px;
	background-image: url(images/admin.gif);
	background-repeat: no-repeat;
}

.mainmenu li
{
	display: inline;
	padding-right: 4px;
	padding-left: 15px;
	background-image: url(images/tasks.gif);
	background-repeat: no-repeat;
}
.adminmenu li {
	display: inline;
	padding-right: 4px;
	padding-left: 15px;
	background-image: url(images/admin.gif);
	background-repeat: no-repeat;
}

.adminlist {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 4px;
	padding-left: 15px;
	font-size: 11px;
}

td.checkbox {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 4px;
	padding-left: 15px;
	font-size: 11px;
}

tr.checkbox {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 4px;
	padding-left: 15px;
	font-size: 11px;
}

th.checkbox {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 4px;
	padding-left: 15px;
	font-size: 11px;
}

a {
	color: Navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	border-bottom: none;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

.actions a:hover,
.actions a:link,
.actions a:visited {
	color: Navy;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: underline;
}

a.cal:link {
	color: blue;
	display: inline;
}

a:link,
a:visited {
	color: Blue;
}

a:hover {
	text-decoration: underline;
}

a.task {
	color: Blue;
	font-weight: bold;
}

a.poplink {
   color: yellow;
}

div.error {
	border: 1px dashed #FF0000;
	background-color: #FFCCCC;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 7px;
	width: auto;
	text-align: center;
}

div.message {
	border: 1px dashed #00FF00;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0080FF;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 7px;
	width: auto;
	text-align: center;
}

div.debug {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
/*	position: absolute; */
	bottom: 11px;
}

html>body div.debug {
	top: 11px;
	position: relative;
}

.debug p {
	border-bottom: 1px dashed #CCC;
	padding: 0px;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.debug p.error {
	color: red;
}

table.login {
	margin-left: auto;
	margin-right: auto;
 	width: auto;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

a img {
   border: 0px solid black;
}

.hide {
   font-family: Verdana, Arial, helvetica, sans-serif;
   font-size: 12px;
   display: none;
}

.show {
   font-family: Verdana, Arial, helvetica, sans-serif;
   font-size: 12px;
   display: table-row;
}

.com_header {
   background-color: #99CCFF;
}

td.empty {
   border-top: 0px;
   border-bottom: 0px;
   border-left: 0px;
}
