<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_edit_user.html,v 1.19 2005/12/28 15:54:02 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login, $users;

if ($isadmin && isset($users)) {
	// force another user to be edited, not us...
	$user_array = get_user_array($users);
} else {
	$user_array = $_SESSION;
	$user_array['admin'] = $_SESSION['isadmin'];
	$user_array['password'] = 'set';
	$users = $login;
}

if ($_SESSION['extra']['ajax'] == 1) {
	$ajax_checked = 'checked';
} else {
	$ajax_checked = '';
}

if ($user_array['allow_others'] == 1) {
	$allow_checked = 'checked';
} else {
	$allow_checked = '';
}

if ($user_array['public_list'] == 1) {
	$public_list = 'checked';
} else {
	$public_list = '';
}

if ($user_array['email_notification'] == 1) {
	$allow_email_notification = 'checked';
} else {
	$allow_email_notification = '';
}

if ($user_array['im_notification'] == 1) {
	$allow_im_notification = 'checked';
} else {
	$allow_im_notification = '';
}

if ($user_array['admin'] == 1) {
	$allow_admin = 'checked';
} else {
	$allow_admin = '';
}

$disp_mod = get_active_modules("admin_edit_user");
?>

<center>
<table>
<tr>
	<th align="right"><b><?php echo _USER_NAME ?>:</b></th>
	<th align="left">
<?php
	if (!$isadmin) {
		echo $user_array['login'];
	} else {
?>
		<form method="post" action="index.php?cmd=admin_menu" name="user_filter_form">
			<select name="users" size="1" class="btn" onchange="user_filter_form.submit();">
				<?php disp_users($users) ?>
			</select>
		</form>
<?php
	}
?>
	</th>
</tr>

<form method="post" action="index.php?cmd=do_edit_info">
	<input type="hidden" name="users" value="<?php echo $user_array['login'] ?>" />

	<tr>
		<td align="right"><b><?php echo _FIRST_NAME ?>:</b></td>
		<td><input type="text" name="firstname" value="<?php echo $user_array['first']; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _LAST_NAME ?>:</b></td>
		<td><input type="text" name="lastname" value="<?php echo $user_array['last']; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _EMAIL ?>:</b></td>
		<td><input type="text" name="email" value="<?php echo $user_array['email']; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _AIM ?>:</b></td>
		<td><input type="text" name="screenname" value="<?php echo $user_array['screenname']; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _THEME ?>:</b></td>
		<td><?php disp_themes($users) ?></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _LANGUAGE ?>:</b></td>
		<td><?php disp_languages($users) ?></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _DATE_FORMAT ?>:</b></td>
		<td><?php disp_date_formats($user_array['date_format']) ?></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _ENABLE_AJAX ?></b></td>
		<td><input type="checkbox" name="ajax" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" <?php echo $ajax_checked ?>>
	</tr>

	<tr>
		<td align="right"><b><?php echo _ALLOW_OTHERS ?></b></td>
		<td><input type="checkbox" name="allow_others" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" <?php echo $allow_checked ?>>
	</tr>

	<tr>
		<td align="right"><b><?php echo _PUBLIC_LIST ?></b></td>
		<td><input type="checkbox" name="public_list" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" <?php echo $public_list ?>>
	</tr>

<?php
for($m = 0; $m < sizeof($disp_mod); $m++) {
    $file = "modules/" . $disp_mod[$m] . "/module.inc";
    include($file);
    $admin_edit_user = $disp_mod[$m] . "_admin_edit_user";
    $admin_edit_user($allow_im_notification);
}

if ($users == $login) {
?>
	<tr>
		<td align="right"><b><?php echo _AUTO_DAILY ?></b></td>
		<td><input type="checkbox" name="auto_daily" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" <?php echo $_SESSION['extra']['auto_daily']=='1'?'checked="true"':'' ?>>
	</tr>
<?php
}
?>

<?php
if ($isadmin) {
?>
	<tr>
		<td align="right"><b><?php echo _IS_ADMIN ?></b></td>
		<td><input type="checkbox" name="allow_admin" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" <?php echo $allow_admin ?>>
	</tr>
<?php
}
?>

<?php
if (!$user_array['password']) {
?>
	<tr>
		<td align="right"><b><?php echo _NEW_PASS ?>:</b></td>
		<td><input type="password" name="newpass" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _VERIFY ?>:</b></td>
		<td><input type="password" name="verpass" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>
<?php
}
?>

	<tr>
		<td></td>
		<td><input type="submit" name="editinfo" value="<?php echo _UPDATE_INFO; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>
</form>
</table>
</center>
