<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_remove_category.html,v 1.2 2005/09/07 14:16:20 zoidian Exp $
*/
?>
<?php
global $isadmin, $login;

if(isset($_REQUEST['category_id'])) {
    $category_id = $_REQUEST['category_id'];
} else {
    $category_id = "";
}

$global = $_REQUEST['global'];
$i = 0;
?>

<center>
<table cellpadding="5">

<tr>
<th><?php echo _WHAT_WOULD_YOU_LIKE ?></th>
</tr>

<tr>
<td align="center" class="actions"><a href="index.php?cmd=do_remove_category&amp;how=reset&amp;category_id=<?php echo $category_id ?>&amp;global=<?php echo $global ?>"><?php echo _RESET_ALL ?></a></td>
</tr>

<tr class="odd">
<td align="center" class="actions"><a href="index.php?cmd=do_remove_category&amp;how=rem_all&amp;category_id=<?php echo $category_id ?>&amp;global=<?php echo $global ?>"><?php echo _REMOVE_ALL ?></a></td>
</tr>

<tr>
<td align="center" class="actions"><a href="index.php?cmd=admin_menu&admin_what=list_categories"><?php echo _CANCEL ?></a></td>
</tr>

</table>
</center>
