<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_modules.html,v 1.7 2005/04/07 01:18:24 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login, $users;
$i = 0;
$dir_modules = list_dir_modules();
$db_modules = list_db_modules();
?>

<center><table border="1">
<tr>
	<th align="center"><?php echo _MODULE; ?></th>
	<th align="center"><?php echo _DESCRIPTION; ?></th>
	<th align="center"><?php echo _STATUS; ?></th>
</tr>
<?php
for($i = 0; $i < sizeof($dir_modules); $i++) {
    $name = $dir_modules[$i];
    $disp_config = get_module_config($name);

    if(!$db_modules) {
        $installed = 0;
    } else {
        $installed = in_array($name, $db_modules);
    }
    
    $description = get_module_description($name);

    if($installed) {
        $info = get_module_info($dir_modules[$i]);
        $enabled = $info['enabled'];
        $module_version = $info['version'];
    } else {
        $enabled = 0;
    }
?>
<tr>
    <td>
    <font size="2">
        <b><?php echo ucfirst($name) ?></b>
    </font>
    </td>
    <td width="400" align="left">
    <font size="2">
        <?php echo $description ?>
    </font>
    </td>
    <td>
<?php 
    if($enabled) {
?>
        <a href="index.php?cmd=do_disable_module&amp;module=<?php echo $name ?>"><?php echo _DISABLE; ?></a>
<?php
        if($disp_config > 0) {
?>
        <a href="index.php?cmd=admin_menu&amp;admin_what=module_config&amp;name=<?php echo $name ?>"><?php echo _CONFIGURE; ?></a>
<?php
        }
?>
<?php
    } else {
        if($installed == 0) {
?>
        <a href="index.php?cmd=do_install_module&amp;module=<?php echo $name ?>"><?php echo _INSTALL; ?></a>
<?php
        } else {
?>
        <a href="index.php?cmd=do_enable_module&amp;module=<?php echo $name ?>"><?php echo _ENABLE; ?></a>
        <br />
        <a href="index.php?cmd=do_uninstall_module&amp;module=<?php echo $name ?>"><?php echo _UNINSTALL; ?></a>
<?php
        }
    }
}
?>
    </td>
</tr>
</table></center>
</form>
