<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_list_supercats.html,v 1.3 2005/09/06 01:38:52 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login;
$i = 0;
?>

<center>
<table class="adminlist">
	<tr>
		<th><?php echo _SUPERCAT ?></th>
		<th><?php echo _CATS_IN_SUPERCAT ?></th>
		<th><?php echo _CATS_NOT_IN_SUPERCAT ?></th>
		<th><?php echo _ACTIONS ?></th>
	</tr>

	<tr class="new">
		<th>
			<form action="index.php?cmd=do_add_supercat" method="post">
				<input type="text" name="supercat_name" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
				<input type="submit" value="<?php echo _ADD; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
			</form>
		</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<?php
$result = get_supercats_and_categories_array();

foreach ($result as $supercat) {
	$supercat_name = $supercat['name'];
	$supercat_id = $supercat['id'];
?>
	<tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
		<td><?php echo $supercat_name ?></td>

		<td>
<?php
	if (!isset($supercat['categories_in'])) {
		echo _EMPTY;
	} else {
		foreach ($supercat['categories_in'] as $category) {
?>
			<a href="index.php?cmd=do_remove_from_supercat&amp;category_id=<?php echo $category['id'] ?>&amp;supercat_id=<?php echo $supercat_id ?>"><?php echo $category['name'] ?></a>
<?php
		}
	}
?>
		</td>

		<td>
<?php
	if (!isset($supercat['categories_out'])) {
		echo _EMPTY;
	} else {
		foreach ($supercat['categories_out'] as $category) {
?>
			<a href="index.php?cmd=do_add_to_supercat&amp;category_id=<?php echo $category['id'] ?>&amp;supercat_id=<?php echo $supercat_id ?>"><?php echo $category['name'] ?></a>
<?php
		}
	}
?>
		</td>

		<td class="actions">
			<a href="index.php?cmd=do_remove_supercat&amp;supercat_id=<?php echo $supercat_id ?>"><?php echo _REMOVE ?></a>
		</td>
	</tr>
<?php
}
?>
</table>
</center>
