<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_edit_group.html,v 1.8 2005/06/17 13:53:49 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login, $users;

if (isset($_REQUEST['group_id']) && $_REQUEST['group_id']) {
	$group_id = $_REQUEST['group_id'];
	$group_name = get_group_name($group_id);
} else {
	$group_name = '';
	$group_id = '';
}
?>

<center>
<table>
<tr>
	<th align="right"><b><?php echo _GROUP; ?>:</b></th>
	<th align="left">
		<form method="post" action="index.php?cmd=admin_menu" name="group_filter_form">
			<select name="group_id" size="1" class="btn" onchange="group_filter_form.submit();">
<?php
if ($group_id == '') {
?>
				<option value=""><?php echo _SELECT_GROUP ?></option>
<?php
	disp_groups(null, null, false);
} else {
	disp_groups(null, $group_id, false);
}
?>
			</select>
		</form>
	</th>
</tr>

<form method="post" action="index.php?cmd=do_edit_group">
	<input type="hidden" name="group_id" value="<?php echo $group_id ?>" >

	<tr>
		<td align="right"><b><?php echo _GROUP_NAME ?>:</b></td>
		<td><input type="text" name="group_name" value="<?php echo $group_name ?>" class="btn" /></td>
	</tr>

	<tr>
		<td align="right"><b><?php echo _GROUP_MEMBERS ?>:</b></td>
		<td>
			<select name="members[]" size="10" class="btn" multiple>
				<?php disp_group_members($group_id) ?>
			</select>
		</td>
	</tr>

	<tr>
		<td></td>
		<td><input type="submit" name="editinfo" value="<?php echo _UPDATE; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
	</tr>
</form>
</table>
</center>
