<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_list_categories.html,v 1.16 2005/09/07 14:16:20 zoidian Exp $
*/
?>
<?php
global $isadmin, $login;

if(isset($_REQUEST['category_id'])) {
    $category_id = $_REQUEST['category_id'];
} else {
    $category_id = "";
}
if(isset($_REQUEST['admin_what'])) {
    $admin_what = $_REQUEST['admin_what'];
} else {
    $admin_what = "";
}

$i = 0;
?>

<center>
<table>
<tr>
	<th><?php echo _USER_CATEGORY_NAME ?></th>
	<th><?php echo _ACTIONS ?></th>
</tr>

<tr class="new">
<form method="post" action="index.php?cmd=do_add_category" name="add_category">
	<th><input type="text" class="btn" name="category_name" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" /> <input type="submit" class="btn"  onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" value="<?php echo _ADD; ?>" /></th>
</form>
	<th></th>
</tr>

<?php
$categories = get_categories_id_name_aarray();
foreach ($categories as $id => $name) {
?>
<tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
	<td>
<?php
		if($admin_what == 'rename_category' && $category_id == $id) {
?>
			<form method="post" action="index.php?cmd=do_update_category&amp;category_id=<?php echo $category_id; ?>" name="update_category">
				<input type="text" name="new_name" value="<?php echo $name; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" >
				<input type="submit" value="<?php echo _UPDATE; ?>" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" class="btn" />
			</form>
<?php
		} else {
			echo $name;
		}
?>
	</td>
	<td class="actions">
		<a href="index.php?cmd=remove_category&amp;category_id=<?php echo $id ?>"><?php echo _REMOVE_CATEGORY ?></a>
		<a href="index.php?cmd=admin_menu&amp;admin_what=rename_category&amp;category_id=<?php echo $id ?>"><?php echo _RENAME_CATEGORY ?></a>
	</td>
</tr>
<?php
}
?>
</table>

<br /><br />

<table>
<tr>
	<th><?php echo _GLOBAL_CATEGORY_NAME ?></th>
<?php 
if ($isadmin) { 
?>
	<th><?php echo _ACTIONS ?></th>
<?php
}
?>
</tr>

<?php 
if ($isadmin) { 
?>
<tr class="new">
<form method="post" action="index.php?cmd=do_add_category&amp;global=1" name="add_global_category">
	<th><input type="text" class="btn" name="category_name" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" /> <input type="submit" class="btn"  onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" value="<?php echo _ADD; ?>" /></th>
</form>
	<th></th>
</tr>
<?php
}
?>

<?php
$global_categories = get_global_categories_array();
foreach ($global_categories as $id => $name) {
?>
<tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
    <td>
<?php
		if($admin_what == 'rename_category' && $category_id == $id && $isadmin) {
?>
			<form method="post" action="index.php?cmd=do_update_category&amp;category_id=<?php echo $category_id; ?>" name="update_category">
				<input type="text" name="new_name" value="<?php echo $name; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" >
				<input type="submit" value="<?php echo _UPDATE; ?>" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" class="btn" />
			</form>
<?php
        } else {
            echo $name;
        }
?>
    </td>
<?php 
        if ($isadmin) { 
?>
    <td class="actions">
		<a href="index.php?cmd=remove_category&amp;category_id=<?php echo $id ?>&amp;global=1"><?php echo _REMOVE_CATEGORY ?></a>
		<a href="index.php?cmd=admin_menu&amp;admin_what=rename_category&amp;category_id=<?php echo $id ?>"><?php echo _RENAME_CATEGORY ?></a>
	</td>
<?php
        }
?>
</tr>
<?php
}
?>
</table>
</center>
