<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_list_users.html,v 1.10 2005/03/20 16:03:55 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login;
$i = 0;
?>

<center>
<table class="adminlist">
	<tr>
		<th><?php echo _USER; ?></th>
		<th><?php echo _USER_NAME; ?></th>
		<th><?php echo _ACTIONS; ?></th>
	</tr>

	<tr class="new">
		<th>
			<form action="index.php?cmd=do_add_user_quick" method="post">
				<input type="text" name="add_user" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
				<input type="submit" value="<?php echo _ADD; ?>" class="btn"  onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
			</form>
		</th>
		<th></th>
		<th></th>
	</tr>
<?php
$result = get_users();

while($myrow = mysql_fetch_array($result)) {
	$user = $myrow['login'];
	$user_name = $myrow['first'] . ' ' . $myrow['last'];
?>
	<tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
		<td>
			<?php echo $user; ?>
		</td>

		<td>
			<?php echo $user_name; ?>
		</td>

		<td class="actions">
			<a href="index.php?cmd=do_remove_user&amp;users=<?php echo $user; ?>"><?php echo _REMOVE ?></a>

<?php
	if ($myrow['password'] != null) {
?>
            <a href="index.php?cmd=admin_menu&amp;admin_what=edit_user&amp;users=<?php echo $user ?>"><?php echo _EDIT ?></a>
            <a href="index.php?cmd=admin_menu&amp;admin_what=change_pw&amp;users=<?php echo $user ?>"><?php echo _CHANGE_PASS ?></a>
<?php
	} else {
?>
            <a href="index.php?cmd=admin_menu&amp;admin_what=edit_user&amp;users=<?php echo $user ?>"><?php echo _FINISH_CREATE_USER ?></a>
<?php
	}
?>

		</td>
	</tr>
<?php
}
?>
</table>
</center>
