<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_menu.html,v 1.28 2005/04/06 19:29:05 zoidian Exp $
*/
?>
<?php
global $isadmin, $login;

$admin_what = get_value_session_request('admin_what');
$disp_mod = get_active_modules("admin_menu");
?>

<div class="row">    
    
  <!-- Main Content Section -->
  <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
  <div class="large-9 push-3 columns">
    <?php if (isset($admin_what) && $admin_what) {
      if($admin_what == 'change_pw') {
        include('html/admin_change_pw.html');
      } elseif($admin_what == 'list_categories' || $admin_what == 'rename_category') {
    	include('html/admin_list_categories.html');
      } elseif($admin_what == 'list_supercats' && $isadmin) {
        include('html/admin_list_supercats.html');
      } elseif($admin_what == 'list_groups' && $isadmin) {
        include('html/admin_list_groups.html');
      } elseif($admin_what == 'list_users' && $isadmin) {
        include('html/admin_list_users.html');
      } elseif($admin_what == 'edit_group' && $isadmin) {
        include('html/admin_edit_group.html');
      } elseif($admin_what == 'edit_user') {
        include('html/admin_edit_user.html');
      } elseif($admin_what == 'modules') {
        include('html/admin_modules.html');
      } elseif($admin_what == 'module_config') {
        include('html/admin_module_config.html');
      } elseif($admin_what == 'reports') {
        include('html/reports_menu.html');
      } else { ?>
	    <div class="error"><?php echo _ADMIN_COMMAND .' '. $admin_what .' '.  _COMMAND_ERROR; ?></div>
      <?php }
    } else {
      include('html/admin_edit_user.html');
    } ?>
  </div>    
    
  <!-- Nav Sidebar -->
  <!-- This is source ordered to be pulled to the left on larger screens -->
  <div class="large-3 pull-9 columns">
        
    <ul class="side-nav">
      <?php if ($isadmin) { ?>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=list_users"><?php echo _LIST_USERS; ?></a></li>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=list_groups"><?php echo _LIST_GROUPS; ?></a></li>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=edit_group"><?php echo _EDIT_GROUPS; ?></a></li>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=modules"><?php echo _MODULES; ?></a></li>
      <?php for($m = 0; $m < sizeof($disp_mod); $m++) {
          $file = "modules/" . $disp_mod[$m] . "/module.inc";
          include_once($file);
          $admin_menu = $disp_mod[$m] . "_admin_menu";
          $admin_menu();
        }
      } ?>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=change_pw"><?php echo _CHANGE_PASS; ?></a></li>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=edit_user"><?php echo _EDIT_INFO; ?></a></li>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=list_categories"><?php echo _LIST_CATEGORIES; ?></a></li>
      <li><a href="index.php?cmd=admin_menu&amp;admin_what=list_supercats"><?php echo _LIST_SUPERCATS; ?></a></li>
    </ul>

  </div>
    
</div>
