<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_change_pw.html,v 1.6 2005/03/20 16:03:55 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login, $users;
?>

<form method="post" action="index.php?cmd=do_change_pw">
<center><table>
<tr>
	<th align="right"><?php echo _USER ?>:</th>
	<th align="left">
<?php
if($isadmin) {
	if (isset($users)) {
		$cur_user = $users;
	} else {
		$cur_user = $login;
	}
?>
		<select name="users" size="1" class="btn">
			<?php echo disp_users($cur_user, 'all') ?>
		</select>
<?php
} else {
?>
		<?php echo $login ?>
		<input type="hidden" name="users" value="<?php echo $login; ?>" />
<?php
}
?>
	</th>
</tr>

<?php
if(! $isadmin) {
?>
<tr>
	<td align="right"><b><?php echo _CURRENT_PASS ?>:</b></td>
	<td><input type="password" name="curpass" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
</tr>
<?php
}
?>

<tr>
	<td align="right"><b><?php echo _NEW_PASS ?>:</b></td>
	<td><input type="password" name="newpass" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
</tr>

<tr>
	<td align="right"><b><?php echo _VERIFY ?>:</b></td>
	<td><input type="password" name="verpass" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
</tr>

<tr>
	<td></td>
	<td><input type="submit" name="changepw" value="<?php echo _CHANGE_PASS; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')"></td>
</tr>
</table></center>
</form>
