<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: admin_list_groups.html,v 1.8 2005/03/20 16:03:55 zoidian Exp $
*/
?>
<?php
global $admin_what, $isadmin, $login;
$i = 0;
?>

<center>
<table class="adminlist">
	<tr>
		<th><?php echo _GROUP ?></th>
		<th><?php echo _USERS_IN_GROUP ?></th>
		<th><?php echo _USERS_NOT_IN_GROUP ?></th>
		<th><?php echo _ACTIONS ?></th>
	</tr>

	<tr class="new">
		<th>
			<form action="index.php?cmd=do_add_group" method="post">
				<input type="text" name="group_name" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
				<input type="submit" value="<?php echo _ADD; ?>" class="btn" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
			</form>
		</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

<?php
$result = get_groups_and_users_array();

foreach ($result as $group) {
	$group_name = $group['name'];
	$group_id = $group['id'];
?>
	<tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
		<td>
			<?php echo $group_name ?>
		</td>

		<td>
<?php
	if (!isset($group['users_in'])) {
		echo _EMPTY;
	} else {
		foreach ($group['users_in'] as $user) {
?>
			<a href="index.php?cmd=do_remove_from_group&amp;user=<?php echo $user ?>&amp;group_id=<?php echo $group_id ?>"><?php echo $user ?></a>
<?php
		}
	}
?>
		</td>

		<td>
<?php
	if (!isset($group['users_out'])) {
		echo _EMPTY;
	} else {
		foreach ($group['users_out'] as $user) {
?>
			<a href="index.php?cmd=do_add_to_group&amp;user=<?php echo $user ?>&amp;group_id=<?php echo $group_id ?>"><?php echo $user ?></a>
<?php
		}
	}
?>
		</td>

		<td class="actions">
			<a href="index.php?cmd=do_remove_group&amp;group_id=<?php echo $group_id ?>"><?php echo _REMOVE ?></a>
			<a href="index.php?cmd=admin_menu&amp;admin_what=edit_group&amp;group_id=<?php echo $group_id ?>"><?php echo _EDIT ?></a>
		</td>
	</tr>
<?php
}
?>
</table>
</center>
