<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: calendar.html,v 1.20 2006/09/01 16:29:43 zoidian Exp $
*/
?>
<?php
global $login;

if(isset($_REQUEST['month'])) {
    $month = $_REQUEST["month"];
} else {
    $month = "";
}
if(isset($_REQUEST['year'])) {
    $year = $_REQUEST["year"];
} else {
    $year = "";
}
$date = getDate();

if(!$year)
    $year = $date["year"];

if($year != $date["year"])
    $year == $year;
else
    $year = $date["year"];

if(!$month)
    $month = $date["mon"];

if($month < 10)
    $month = "0" . $month;

if($month == 01 || $month == 1)
    $month_name = _JANUARY;
if($month == 02 || $month == 2)
    $month_name = _FEBUARY;
if($month == 03 || $month == 3)
    $month_name = _MARCH;
if($month == 04 || $month == 4)
    $month_name = _APRIL;
if($month == 05 || $month == 5)
    $month_name = _MAY;
if($month == 06 || $month == 6)
    $month_name = _JUNE;
if($month == 07 || $month == 7)
    $month_name = _JULY;
if($month == 08 || $month == 8)
    $month_name = _AUGUST;
if($month == 09 || $month == 9)
    $month_name = _SEPTEMBER;
if($month == 10)
    $month_name = _OCTOBER;
if($month == 11)
    $month_name = _NOVEMBER;
if($month == 12)
    $month_name = _DECEMBER;

$disp_year = $year;
$prevyear = $year;
$nextyear = $year;
$date = getDate();
$day = $date["mday"];
$this_month = getDate(mktime(0, 0, 0, $month, 1, $year));
$next_month = getDate(mktime(0, 0, 0, $month + 1, 1, $year));
$first_week_day = $this_month["wday"];
$days_in_this_month = floor(($next_month[0] - $this_month[0]) / (60 * 60 * 24));
$startdate = $year . $month . "01";
$enddate = $year . $month . $days_in_this_month;

$current_month = $date["mon"];
if($current_month < 10)
    $current_month = "0" . $current_month;

if($month == 12) {
	$prevmonthInt = $month - 1;
	$nextmonthInt = 1;
	$nextyear = $year + 1;
} elseif($month == 1) {
	$prevmonthInt = 12;
	$nextmonthInt = $month + 1;
	$prevyear = $year - 1;
} else {
	$prevmonthInt = $month - 1;
	$nextmonthInt = $month + 1;
}

$date_array = get_calendar_tasks($startdate, $enddate);
$dates = sizeof($date_array)-1;
?>
<script>
    /*function updateD(page_id, year, month, new_day)
    {
        $.ajax({
        url: 'index.php',
        type: 'post',
        data: 'date=year+"-"+month+"-"+new_day',
        success:function(), 
        error:function(),
        });
    }*/

    function allowDrop(ev)
        {
        ev.preventDefault();
        }

    function drag(ev)
        {
        ev.dataTransfer.setData("Text",ev.target.id);
        }

    function drop(ev)
        {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("Text");
        ev.target.appendChild(document.getElementById(data));
        updateD(data.id, year, month, new_day);
        }
    
</script>
<center><table border="1" class="cal">
<tr class="cal"><td colspan="7" class="calmonth">
<a href="index.php?cmd=calendar&amp;month=<?php echo $prevmonthInt; ?>&amp;year=<?php echo $prevyear; ?>" class="cal"><?php echo _PREV; ?></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<?php echo $month_name." ".$disp_year; ?>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="index.php?cmd=calendar&amp;month=<?php echo $nextmonthInt; ?>&amp;year=<?php echo $nextyear; ?>" class="cal"><?php echo _NEXT; ?></a></td></tr>
<tr class="cal">
<th class="cal" width="100"><?php echo _SUNDAY; ?></th>
<th class="cal" width="100"><?php echo _MONDAY; ?></th>
<th class="cal" width="100"><?php echo _TUESDAY; ?></th>
<th class="cal" width="100"><?php echo _WEDNESDAY; ?></th>
<th class="cal" width="100"><?php echo _THURSDAY; ?></th>
<th class="cal" width="100"><?php echo _FRIDAY; ?></th>
<th class="cal" width="100"><?php echo _SATURDAY; ?></th>
</tr><tr class="cal">
<?php
$cells = 1;
for($week_day = 0; $week_day < $first_week_day; $week_day++) {
?>
    <td class="calblank">&nbsp;</td>
<?php
    $cells++;
}

$week_day = $first_week_day;
for($day_counter = 1; $day_counter <= $days_in_this_month; $day_counter++) {
	if($day_counter < 10) {
    	$new_day = "0" . $day_counter;
	} else {
    	$new_day = $day_counter;
    }

    $current_day = $year . $month . $new_day;
    
	$week_day %= 7;

    if($week_day == 0) {
?>
        </tr><tr class="cal">
<?php
	}
	if($day == $day_counter && $month == $current_month) {
?>
        <td class="caltoday"><b><?php echo $day_counter; ?></b><br />
        <a href="index.php?cmd=new_task&amp;date=<?php echo $year.$month.$new_day ?>" class="cal"><div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"><?php echo _ADD; ?></div></a><br />
<?php
        for($i = 0; $i <= $dates; $i++) {
            if($date_array[$i] == $current_day) {
?>
                <a href="index.php?cmd=show&amp;task_what=date&amp;task_date=<?php echo $year.$month.$new_day ?>" class="cal"><?php echo _VIEW_TASKS; ?></a>
            	</td>
<?php
                break;
            }
        }
    } else {
?>
        <td class="cal">&nbsp;<?php echo $day_counter; ?>&nbsp;<br/ >
        <a href="index.php?cmd=new_task&amp;date=<?php echo $year.$month.$new_day ?>" class="cal"><div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"><?php echo _ADD; ?></div></a><br />
<?php
        for($i = 0; $i <= $dates; $i++) {
            if($date_array[$i] == $current_day) {
?>
                <a href="index.php?cmd=show&amp;task_what=date&amp;task_date=<?php echo $year.$month.$new_day ?>" class="cal"><?php echo _VIEW_TASKS; ?></a>
                </td>
<?php
                break;
            }
        }
    }
    $week_day++;
    $cells++;
}

if($days_in_this_month > 30 && $first_week_day == 6 ||
        $days_in_this_month > 30 && $first_week_day == 5) {
    $howmany = 42;
} else {
    $howmany = 35;
}

for($cells; $cells < $howmany; $cells++) {
?>
    <td class="calblank">&nbsp;</td>
<?php
}
?>
</tr>
</table></center>

<center><table border="1" class="cal">
<tr height="200"> 
	<td><b>DAFTAR KEGIATAN</b></td> 
	<td width=300>
		<?php 
			$counter=0;
			$daftar_task = mysql_query("SELECT * FROM tasks");
			while($info = mysql_fetch_array( $daftar_task ))
				{ 
					echo "<div id=\"post-$counter\" draggable=\"true\" ondragstart=\"drag(event)\">";
						Print "<b>Judul:</b> ".$info['title'] . " <br>"; 
						Print "<b>Tugas:</b> ".$info['task'] . " <br>"; 
						Print "<b>Deadline:</b> ".$info['date'] . "<br>";
						Print "<b>Drag it</b><br>";
						Print "<br>";	
						$counter += 1;
					echo "</div>";
				}
				?> 
	</td>
</tr>
</table></center>