<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: edit_task.html,v 1.31 2006/09/23 20:59:40 zoidian Exp $
*/
?>
<?php
global $output, $login, $mysql_version;

$daily = NULL;
$task_id = get_value_session_request_output('task_id');
debug("Task_id: $task_id");

if ($task_id == -1) {
	// new task

	if (!isset($output['date'])) {
        if ($mysql_version == 0) {
    		$output['date'] = date('Ymd');
        } else {
            $output['date'] = date('Y-m-d');
        }
	}
    if (!isset($output['title'])) {
		$output['title'] = "";
    }
    if (!isset($output['recurrence'])) {
		$output['recurrence'] = $_SESSION['extra']['auto_daily'];
    }
    if (!isset($output['task'])) {
		$output['task'] = "";
    }
    if (!isset($output['category'])) {
		$filter_category = get_value_session_request('filter_category');
		if ($filter_category) {
			// pre-set category if filter is set on list_tasks.
			
			if (substr($filter_category, 0, 2) != 's_') {
				$output['category'] = $filter_category;
			} else {
				$output['category'] = 0;
			}
		} else {
			$output['category'] = 0;
		}
    }

	$button = _NEW_TASK;
?>
<form method="post" name="edit_task" action="index.php?cmd=do_add_task">
<?php } else {
    if (!is_numeric($task_id)) {
        exit;
    }

	get_task($task_id, $output);
    $task = stripslashes($output['task']);
	$button = _UPDATE_TASK;
?>
<form method="post" name="edit_task" action="index.php?cmd=do_update_task&amp;task_id=<?php echo $task_id ?>">
<?php } ?>
<?php
if ($output['recurrence'] == 0) { 
    $daily = 1;
}
?>

<h2><?php echo _NEW_TASK ?></h2>

<div class="row"><div class="large-12 columns"><label class="large-4 push-0 columns"><?php echo _TITLE ?>
  <input type="text" name="title" maxlength="50" value="<?php echo $output['title'] ?>" placeholder="<?php echo _TITLE ?>">
</label></div></div>

<div class="row"><div class="large-12 columns">

    <label class="large-3 push-0 columns"><?php echo _STATUS ?>
      <select name="recurrence" size="1" class="btn" onchange="disp_choice(this);">
        <?php if($output['recurrence'] == 0) { ?><option value="0" selected><?php echo _NO_RECURRENCE ?></option><?php } else { ?><option value="0"><?php echo _NO_RECURRENCE ?></option><?php } ?>
        <?php if($output['recurrence'] == 1) { ?><option value="1" selected><?php echo _DAILY ?></option><?php } else { ?><option value="1"><?php echo _DAILY ?></option><?php } ?>
        <?php if($output['recurrence'] == 2) { ?><option value="2" selected><?php echo _WEEKLY ?></option><?php } else { ?><option value="2"><?php echo _WEEKLY ?></option><?php } ?>
        <?php if($output['recurrence'] == 3) { ?><option value="3" selected><?php echo _MONTHLY ?></option><?php } else { ?><option value="3"><?php echo _MONTHLY ?></option><?php } ?>
        <?php if($output['recurrence'] == 5) { ?><option value="5" selected><?php echo _YEARLY ?></option><?php } else { ?><option value="5"><?php echo _YEARLY ?></option><?php } ?>
        <?php if($output['recurrence'] == 4) { ?><option value="4" selected><?php echo _OPEN_ENDED ?></option><?php } else { ?><option value="4"><?php echo _OPEN_ENDED ?></option><?php } ?>
      </select>
    </label>
    
    <span id="daily" style="display: <?php echo $daily == 1?'inline':'none' ?>">
      <label class="large-3 push-0 columns"><?php echo _COMPLETE_TASK_BY ?>
        <?php disp_date_month($output['date']) ?>
      </label>
      <label class="large-2 push-0 columns"><p></p>
        <?php disp_dom($output['date'], "date"); ?>
      </label>
      <label class="large-3 push-0 columns"><p></p>
        <?php disp_date_year($output['date']); ?>
      </label>
      <div class="large-1 push-0 columns"><br></br>
      <a href="index.php?cmd=popcal&amp;pop_how=edit" onClick="javascript:nw=window.open('index.php?cmd=popcal&amp;pop_how=edit','popcal','height=500,width=500,location=no,scrollbars=yes,menubars=no,toolbars=no,resizable=yes');nw.opener=self;return false;"><?php echo _CALENDAR ?></a>
      </div>
    </span>
    
    <span id="weekly" style="display: <?php echo $output['recurrence'] == 2?'inline':'none' ?>">
      <label class="large-3 push-0 columns"><?php echo _RECURRE_EVERY ?>
        <?php disp_dow($output['date']) ?>
      </label>
    </span>
    
    <span id="monthly" style="display: <?php echo $output['recurrence'] == 3?'inline':'none' ?>">
      <label class="large-3 push-0 columns"><?php echo _RECURRE_ON ?>
        <?php disp_dom($output['date'], "monthly"); ?>
      </label>
      <div><br></br>
        <?php  echo _EVERY_MONTH; ?>
      </div>
    </span>
</div></div>
    
<div class="row"><div class="large-12 columns">
  <label class="large-7 push-0 columns"><?php echo _TASK ?>
    <textarea name="task" rows="15" cols="85" class="btn"><?php if(isset($task)) { echo preg_replace("<br />", "\r", $task); } ?></textarea>
  </label>
</div></div>

<div class="row"><div class="large-12 columns">
  <label class="large-3 push-0 columns"><?php disp_category($output['category']) ?></label>
  <label class="large-3 push-0 columns"><?php if(isset($output['priority'])) { disp_priority($output['priority']); } else { disp_priority(''); }?></label>
  <label class="large-3 push-0 columns"><?php echo _ASSIGN_TO ?>
    <select name="users" size="1" class="btn">
      <?php disp_users_and_groups($login, empty($output['task_owner'])?null:$output['task_owner']) ?>
    </select>
  </label>
  <span></span>
</div></div>

<div class="row"><div class="large-12 columns">
  <label class="columns">
  <input class="button radius" type="submit" value="<?php echo $button ?>">
  </label>
</div></div>

</form>

<script type="text/javascript">
function disp_choice(selection) {
    var daily = document.all ?  document.all.daily
            : document.getElementById ? document.getElementById('daily')
            : null;
            
    var weekly = document.all ?  document.all.weekly
            : document.getElementById ? document.getElementById('weekly')
            : null;
            
    var monthly = document.all ?  document.all.monthly
            : document.getElementById ? document.getElementById('monthly')
            : null;

    if(selection.value == 0 || selection.value == 5) {
        daily.style.display = 'inline';
        weekly.style.display = 'none';
        monthly.style.display = 'none';
    } else if(selection.value == 1) {
        daily.style.display = 'none';
        weekly.style.display = 'none';
        monthly.style.display = 'none';
    } else if(selection.value == 2) {
        daily.style.display = 'none';
        weekly.style.display = 'inline';
        monthly.style.display = 'none';
    } else if(selection.value == 3) {
        daily.style.display = 'none';
        weekly.style.display = 'none';
        monthly.style.display = 'inline';
    } else if(selection.value == 4) {
        daily.style.display = 'none';
        weekly.style.display = 'none';
        monthly.style.display = 'none';
    }
}
</script>