<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: footer.html,v 1.23 2005/06/08 11:18:55 zoidian Exp $
*/
?>
<?php
global $debug, $db_debug, $session_debug, $debug_output;
?>

</div>

<?php
if (empty($_REQUEST['print'])) {
?>

<div class="footer">
    <br />
	<p><a href="http://ackertodo.sourceforge.net"><?php echo $version;?></a></p>
	<p>Rob Hensley (<a href="mailto:zoidian@users.sourceforge.net">zoidian@users.sf.net</a>)</p>
<?php
	if (!isset($_REQUEST['validator_mode'])) {
?>
	<p>
		<a href="http://validator.w3.org/check?uri=<?php
			echo 'http://'.$_SERVER['HTTP_HOST']
				.$_SERVER['PHP_SELF']
				.'?'.($_SERVER['QUERY_STRING']?$_SERVER['QUERY_STRING'].'%26':'')
				.'validator_mode=1%26'
				. SID ?>;ss=1" target="validator">
			<img src="images/valid-xhtml10.png" alt="Valid XHTML 1.0!" height="31" width="88" border="0" />
		</a>
	</p>
<?php
}
?>
</div>

<?php
	if ($debug) {
?>
<div class="debug">
<?php
		if (isset($debug_output) && $debug_output) {
			echo $debug_output;
		}
?>
</div>
<?php
	}
}
?>
</body>
</html>
