<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: footer.html,v 1.23 2005/06/08 11:18:55 zoidian Exp $
*/
?>
<?php global $debug, $db_debug, $session_debug, $debug_output; ?>

  </div>
    
  <!-- Footer -->
  <?php if (empty($_REQUEST['print'])) { ?>
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p><a href="http://ackertodo.sourceforge.net" target="_blank"><?php echo $version;?></a> (Modified for Course Assignment)</p>
        </div>
        <div class="large-6 columns">
          <p>Rob Hensley (<a href="mailto:zoidian@users.sourceforge.net">zoidian@users.sf.net</a>)</p>
        </div>
      </div>
    </div>
  </footer><?php } ?>
  <script src="javascript/alarm.js"></script>
  <?php if($show_alarm): ?>
  <script type="text/javascript">
    jsalarm.init(<?php print $Y.",".$m.",".$d.",".$h.",".$i.",".$s.",00,".$set_alarm; ?>)
    jsalarm.timer=setInterval(function(){jsalarm.init(<?php print $Y.",".$m.",".$d.",".$h.",".$i.",".$s.",00,".$set_alarm; ?>)}, 1000)
  </script>
  <?php endif; ?>
  
  <?php if ($debug) { ?>
  <div class="debug panel">
  <?php if (isset($debug_output) && $debug_output) echo $debug_output; ?>
  </div><?php } ?>
  <script src="javascript/vendor/jquery.js"></script>
  <script src="javascript/foundation.min.js"></script>
  <script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
  </script>
  </body>
</html>
