<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: list_tasks.html,v 1.82 2006/09/23 02:04:39 zoidian Exp $
*/
?>
<?php
global $output, $theme, $_PRIORITY, $isadmin, $sort, $sortc, $print_mode, $login;
$ajax = $_SESSION['extra']['ajax'];
if(!isset($table_prefix)) $table_prefix = '';

if($ajax) {
    global $sajax_request_type, $sajax_debug_mode;
    $sajax_request_type = "POST";
    $sajax_debug_mode = 0;
}

$query_baru = db_query("SELECT * FROM tasks WHERE login='$login' AND date >= CURRENT_TIMESTAMP() AND recurrence <> 4 AND completed = 0 
                        ORDER BY date ASC LIMIT 0,3") or trigger_error(mysql_error(), E_USER_ERROR);

$i = 0;
$k = 0;

// get the sort order
if (empty($_SESSION['extra']['order'])) {
	$sort = array();
} else {
	$sort = $_SESSION['extra']['order'];
}

// get the view
if (empty($_SESSION['extra']['view'])) {
    $view = array();
} else {
    $view = $_SESSION['extra']['view'];
}

// create a more convenient assoc array
$sortc = array();
$j = 1;
foreach ($sort as $s) {
	$sortc[$s['criteria']] = $j++;
}

$print_mode = !empty($_REQUEST['print']);

if (!isset($output['filter_priority'])) {
    $output['filter_priority'] = "";
}

if (!isset($output['task_who'])) {
    $output['task_who'] = "mine";
}

if (isset($_SESSION['date_format'])) {
    $date_format = $_SESSION['date_format'];
} else {
    $date_format = 0;
}

if (isset($_GET['category'])) {
    $output['filter_category'] = $_GET['category'];
    $_SESSION['filter_category'] = $_GET['category'];
} else {
    $output['filter_category'] = "";
//    $_SESSION['filter_category'] = "";
}

$pub_users = disp_public_list();

$user_in_groups = get_groups_in_array($output['login']);

get_task_list();
$_SESSION['default'] = 0;

function sort_widget($criteria) {
	global $sort, $sortc, $print_mode;
	
	if ($print_mode) {
		return '';
	}
	
	if (empty($sortc[$criteria])) {
		$order = 0;
		$new_order = count($sort) + 1;
	} else {
		$order = $sortc[$criteria];
		
		$dir = $sort[$order]['dir'];
		$dirs = $dir=='asc'?'+':'-';
		
		$new_order = $order - 1;
		/*if ($new_order > count($sort)) {
			$new_order = 0;
		}*/
	}
		
	$result = "<a href=\"index.php?cmd=do_set_sort&amp;crit=$criteria&amp;order=$order&amp;new_order=$new_order\">$order</a>";
		
	if ($order != 0) {
		$result .= "<a href=\"index.php?cmd=do_toggle_sort_dir&amp;order=$order\">$dirs</a>";
	}

	return $result;
}
?>

<?php if($ajax) { ?>
<script type="text/javascript">
    <!--
    <?php sajax_show_javascript(); ?>
    -->
</script>

<script src="javascript/list_tasks.js" type="text/javascript"></script>
<?php } ?>

<div class="row">    
    
    <!-- Main Content Section -->
    <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="large-8 push-4 columns"><div class="large-11 columns">
      
      <dl class="accordion" data-accordion>
        
        
        <?php
        if(mysql_num_rows($output['result']) > 0):
        if(mysql_num_rows($query_baru) > 0) print "<hr></hr>";
        while ($myrow = mysql_fetch_array($query_baru)) { ?>
				<div class="row"> <div class="large-12 columns">
					<div class="panel callout">
						<?php $title = trim($myrow['title']);
						$prio = $myrow['priority']; 
						$deskripsi = $myrow['task'];
						$id = $myrow['id'];
						list($status, $image) = get_status($myrow, $date_format);?>
						<h4><?php echo $title;?> <?php if(isset($image)) { ?><img align="middle" src="themes/<?php echo $theme; ?>/images/<?php echo $image ?>" alt="<?php echo $status ?>" />&nbsp;<?php } ?></h4>
						<?php echo $status; ?>
						<p>Deskripsi: <?php echo $deskripsi; ?></p>
						<span>
						<a href="index.php?cmd=view_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _COMMENT ?></a>
						<a href="index.php?cmd=edit_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _EDIT ?></a>
						<a href="index.php?cmd=do_delete_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _DELETE ?></a>
						<?php if ($myrow['completed'] == 1) { ?>
						<a href="index.php?cmd=do_open_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _OPEN ?></a>
						<?php } else { ?>
						<a href="index.php?cmd=do_complete_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _COMPLETE ?></a>
						<?php } ?>
						</span>
					</div>
				</div>
				</div><?php }
        print "<hr></hr>";  
        while($myrow = mysql_fetch_array($output['result'])) {
            $deadline = 1;
            $deny_group = 0;
            $deny_user = 0;
            $id = $myrow['id'];
            $title = trim($myrow['title']);
            $prio = $myrow['priority'];
            $recurrence = $myrow['recurrence'];
            $result = db_query("SELECT * FROM ".$table_prefix."comments WHERE task_id='$id'");
            $num_comments = mysql_num_rows($result);

            $i = 0;
            $comments = array();
            while($com = mysql_fetch_array($result)) {
                $comments[$i]['date'] = $com['date'];
                $comments[$i]['comment'] = $com['comment'];
                $comments[$i]['login'] = $com['login'];
                $comments[$i]['id'] = $com['id'];
                $i++;
            }

            list($status, $image) = get_status($myrow, $date_format);
            
            $temp_group = substr($myrow['login'], 6);
            $in_array = array_search($temp_group, $user_in_groups);

            if (isset($temp_group)) {
                $deny_group = 0;
            } else {
                $deny_group = 1;
            }

            if ($myrow['login'] != $output['login'] && !is_numeric($in_array) && !$isadmin) {
                $deny_user = 1;
            } else {
                $deny_user = 0;
            }
        ?>
        <dd>
          <a href="#idtask_<?=$id?>">
            <strong><?php echo $title; echo $num_comments > 0 ? '*' : '' ?></strong> (
            <?php if(isset($image)) { ?><img align="middle" src="themes/<?php echo $theme; ?>/images/<?php echo $image ?>" alt="<?php echo $status ?>" />&nbsp;<?php } ?>
            <?php echo $status; ?>
            <?php if($myrow['completed'] == 1) { echo ' ' . _AS_OF . ' ' . format_date_simple($myrow['compdate'], $date_format);} ?>)
          </a>
          <div id="idtask_<?=$id?>" class="content">
            <?php $id = htmlentities($id, ENT_QUOTES, 'UTF-8'); ?>
            <div class="row">
              <div class="small-4 columns"><?php echo _PRIORITY.': '; echo $_PRIORITY[$myrow['priority']] ?></div>
              <div class="small-4 columns"><?php echo _CATEGORY.': '; if($myrow['category'] == 0) { $myrow['category_name'] = _NO_CATEGORY; } echo $myrow['category_name'] ?></div>
              <div class="small-4 columns"><?php if ($_SESSION['task_who'] != 'everyone') { echo _CREATION.': '; } else { echo _WHOS_TASK.': '; }
                if($_SESSION['task_who'] != 'everyone') {
                  echo format_date_simple($myrow['creationdate'], $date_format); 
                } else { 
                  if(substr($myrow['login'], 0, 6) == 'group_') {
                    echo get_group_name(substr($myrow['login'], 6, (strlen($myrow['login'] - 6))));
                  } else {
                    echo $myrow['login'];
                  }
                } ?>
              </div>
            </div>
            <?php if (!$deny_user && !$deny_group) { ?><span>
              <a href="index.php?cmd=view_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _COMMENT ?></a>
              <a href="index.php?cmd=edit_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _EDIT ?></a>
              <a href="index.php?cmd=do_delete_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _DELETE ?></a>
              <?php if ($myrow['completed'] == 1) { ?>
              <a href="index.php?cmd=do_open_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _OPEN ?></a>
              <?php } else { ?>
              <a href="index.php?cmd=do_complete_task&amp;task_id=<?php echo $id ?>" class="button tiny secondary radius"><?php echo _COMPLETE ?></a>
              <?php } ?>
            </span><?php } ?>
            <?php if($num_comments > 0) { ?><table>
              <thead><tr>
                <th width="200"><?php echo _DATE ?></th>
                <th><?php echo _COMMENT ?></th>
                <th width="150"><?php echo _WHO ?></th>
              </tr></thead>
              <tbody>
                <?php for($i = 0; $i < $num_comments; $i++) { ?>
                <tr>
                  <td><?php echo $comments[$i]['date']; ?></td>
                  <td><?php echo $comments[$i]['comment']; ?></td>
                  <td><?php echo $comments[$i]['login']; ?></td>
                </tr>
                <?php } ?>
              </tbody>
            </table><?php } ?>
          </div>
        </dd>
        <?php } else: print "<hr></hr>"; ?><p>No Task</p><?php endif; ?>

      </dl>
            
    </div></div>
    
    
    <!-- Nav Sidebar -->
    <?php if (!$print_mode): ?>
    <!-- This is source ordered to be pulled to the left on larger screens -->
    <div class="large-4 pull-8 columns"><div class="large-11 push-0 columns">
    
      <h4>Filter</h4>
      
      <form action="index.php" method="get" name="filter_text_form">
        <label><?php echo _FILTER ?>
        <div class="row collapse">
          <div class="small-9 columns">
            <input type="text" name="filter_text" value="<?php if(isset($output['filter_text'])) { echo htmlentities($output['filter_text'], ENT_QUOTES, 'UTF-8'); }?>" placeholder="<?php echo _FILTER ?>">
          </div>
          <div class="small-3 columns">
            <input type="submit" value="<?php echo _FILTER ?>" class="button postfix">
          </div>
        </div>
        </label>
      </form>
        
      <form action="index.php?cmd=do_add_task_quick" method="post" name="quick_add_task">
        <label><?php echo _ADD ?>
          <div class="row collapse">
            <div class="small-9 columns">
              <input type="text" name="task_name" maxlength="50" placeholder="<?php echo _ADD ?>">
            </div>
            <div class="small-3 columns">
              <input type="submit" value="<?php echo _ADD ?>" class="button postfix">
            </div>
          </div>
        </label>
      </form>
        
      <fieldset><legend>Status</legend>
        <form action="index.php" method="get" name="filter_status_form">
			<select name="task_what" onchange="filter_status_form.submit();">
				<option value="all"<?php echo ($output['task_what'] == 'all')?' selected="selected"':'' ?>><?php echo _TASKS_ALL ?></option>
				<option value="daily"<?php echo ($output['task_what'] == 'daily')?' selected="selected"':'' ?>><?php echo _TASKS_DAILY ?></option>
				<option value="open-ended"<?php echo ($output['task_what'] == 'open-ended')?' selected="selected"':'' ?>><?php echo _OPEN_ENDED ?></option>
				<option value="weekly"<?php echo ($output['task_what'] == 'weekly')?' selected="selected"':'' ?>><?php echo _TASKS_WEEKLY ?></option>
				<option value="monthly"<?php echo ($output['task_what'] == 'monthly')?' selected="selected"':'' ?>><?php echo _TASKS_MONTHLY ?></option>
				<option value="yearly"<?php echo ($output['task_what'] == 'yearly')?' selected="selected"':'' ?>><?php echo _TASKS_YEARLY ?></option>
				<option value="open"<?php echo ($output['task_what'] == 'open')?' selected="selected"':'' ?>><?php echo _TASKS_OPEN ?></option>
				<option value="completed"<?php echo ($output['task_what'] == 'completed')?' selected="selected"':'' ?>><?php echo _TASKS_COMPLETED ?></option>
				<option value="overdue"<?php echo ($output['task_what'] == 'overdue')?' selected="selected"':'' ?>><?php echo _TASKS_OVERDUE ?></option>
				<option value="this_week"<?php echo ($output['task_what'] == 'this_week')?' selected="selected"':'' ?>><?php echo _TASKS_THIS_WEEK ?></option>
<?php
if ($output['task_what'] == 'date') {
?>
				<option value="date" selected="selected"><?php echo _TASKS_DATE .' '. format_date_simple($output['task_date'], $date_format) ?></option>
<?php
}
?>
			</select>
		</form>
        <form action="index.php" method="get" name="filter_who_form">
			<select name="task_who" size="1" class="btn" onchange="filter_who_form.submit();">
				<option value="mine"<?php echo ($output['task_who'] == 'mine')?' selected="selected"':'' ?>><?php echo _SEARCH_MINE ?></option>
<?php
if($isadmin) {
?>
				<option value="everyone"<?php echo ($output['task_who'] == 'everyone')?' selected="selected"':'' ?>><?php echo _SEARCH_EVERYONES ?></option>
<?php
}
?>
<?php
while($myrow = mysql_fetch_array($pub_users)) {
    if($output['login'] != $myrow['login']) {
?>
				<option value="<?php echo $myrow['login'] ?>"<?php echo ($output['task_who'] == $myrow['login'])?' selected="selected"':'' ?>><?php echo ucfirst($myrow['login'])._SEARCH_USERS ?></option>
<?php
    }
}
?>
			</select>
		</form>
      </fieldset>
      
      <form action="index.php" method="get" name="filter_priority_form">
        <label><?php echo _PRIORITY; ?>
          <?php disp_priority($output['filter_priority'], '', 'filter_priority', 'onchange="filter_priority_form.submit();"') ?>
        </label>
      </form>
      
      <form action="index.php" method="get" name="filter_category_form">
        <label><?=_CATEGORY?>
          <?php disp_category($output['filter_category'], '', 'filter_category', 'onchange="filter_category_form.submit();"', _ALL_CATEGORIES, true, true) ?>
        </label>
      </form>
        
    </div></div>
    <?php endif; ?>
  </div>
