<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: list_comments.html,v 1.16 2006/09/01 15:49:47 zoidian Exp $
*/
?>
<?php
global $output, $table_prefix;
global $sajax_request_type, $sajax_debug_mode;
$sajax_request_type = "POST";
$sajax_debug_mode = 0;

if(isset($_REQUEST['task_what'])) {
    $task_what = $_REQUEST['task_what'];
    $button = _UPDATE;
} else {
    $task_what = "";
    $button = _ADD;
}

if(isset($_REQUEST['comment_id'])) {
    $comment_id = $_REQUEST['comment_id'];
} else {
    $comment_id = "";
}

$task_id = get_value_session_request_output('task_id');
$result = db_query("SELECT * FROM ".$table_prefix."comments WHERE task_id='$task_id'");
$i = 0;
$num_comments = mysql_num_rows($result);
?>

<?php
if($task_what == "edit_comment") {
?>
<form method="post" action="index.php?cmd=do_add_comment&amp;comment_id=<?php echo $comment_id ?>" name="update_comment">
<?php
} else {
?>
<form method="post" action="index.php?cmd=do_add_comment" name="add_comment">
<?php
}
?>
<center>
<table>
	<tr>
		<th><?php echo _COMMENT; ?></th>
		<th><?php echo _COMMENT_BY; ?></th>
		<th><?php echo _COMMENT_DATE; ?></th>
<?php
if(!isset($_GET['print']) || $_GET['print'] != 'yes') {
?>
		<th><?php echo _ACTIONS ?></th>
<?php
}
?>
	</tr>
<?php
while ($myrow = mysql_fetch_array($result)) {
?>
	<tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
<?php
    if($comment_id == $myrow['id']) {
        $comment = strip_tags($myrow['comment']);
?>
		<td align="left"><font color="red"><?php echo $myrow['comment'] ?></font></td>
<?php
    } else {
?>
		<td align="left"><?php echo $myrow['comment'] ?></td>
<?php
    }
?>
		<td align="center"><?php echo $myrow['login'] ?></td>
		<td align="center"><?php echo format_date_simple($myrow['date']) ?></td>
<?php
    if(!isset($_GET['print']) || $_GET['print'] != 'yes') {
?>
		<td class="actions">
            <a href="index.php?cmd=do_remove_comment&amp;comment_id=<?php echo $myrow['id'] ?>"><?php echo _REMOVE ?></a>
			<a href="index.php?cmd=view_task&amp;task_what=edit_comment&amp;comment_id=<?php echo $myrow['id'] ?>"><?php echo _EDIT ?></a>
		</td>
<?php
    }
?>
	</tr>
<?php
}
if(!isset($_GET['print']) || $_GET['print'] != 'yes') {
?>
	<tr class="new">
		<th colspan="3">
			<textarea class="btn" name="comment" rows="3" cols="85" id="newComment">
<?php
    if(isset($comment)) {
        echo $comment;
    }
?>
</textarea>
		</th>
		<th>
			<input type="hidden" class="btn" name="task_id" value="<?php echo $task_id ?>" />
			<input type="submit" class="btn" value="<?php echo $button; ?>" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" />
		</th>
	</tr>
<?php
}
?>
</table>
</center>
</form>
