<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: list_tasks.html,v 1.82 2006/09/23 02:04:39 zoidian Exp $
*/
?>
<?php
global $output, $theme, $_PRIORITY, $isadmin, $sort, $sortc, $print_mode;
$ajax = $_SESSION['extra']['ajax'];

if($ajax) {
    global $sajax_request_type, $sajax_debug_mode;
    $sajax_request_type = "POST";
    $sajax_debug_mode = 0;
}

$i = 0;
$k = 0;

// get the sort order
if (empty($_SESSION['extra']['order'])) {
	$sort = array();
} else {
	$sort = $_SESSION['extra']['order'];
}

// get the view
if (empty($_SESSION['extra']['view'])) {
    $view = array();
} else {
    $view = $_SESSION['extra']['view'];
}

// create a more convenient assoc array
$sortc = array();
$j = 1;
foreach ($sort as $s) {
	$sortc[$s['criteria']] = $j++;
}

$print_mode = !empty($_REQUEST['print']);

if (!isset($output['filter_priority'])) {
    $output['filter_priority'] = "";
}

if (!isset($output['task_who'])) {
    $output['task_who'] = "mine";
}

if (isset($_SESSION['date_format'])) {
    $date_format = $_SESSION['date_format'];
} else {
    $date_format = 0;
}

if (isset($_GET['category'])) {
    $output['filter_category'] = $_GET['category'];
    $_SESSION['filter_category'] = $_GET['category'];
} else {
    $output['filter_category'] = "";
//    $_SESSION['filter_category'] = "";
}

$pub_users = disp_public_list();

$user_in_groups = get_groups_in_array($output['login']);

get_task_list();
$_SESSION['default'] = 0;

function sort_widget($criteria) {
	global $sort, $sortc, $print_mode;
	
	if ($print_mode) {
		return '';
	}
	
	if (empty($sortc[$criteria])) {
		$order = 0;
		$new_order = count($sort) + 1;
	} else {
		$order = $sortc[$criteria];
		
		$dir = $sort[$order]['dir'];
		$dirs = $dir=='asc'?'+':'-';
		
		$new_order = $order - 1;
		/*if ($new_order > count($sort)) {
			$new_order = 0;
		}*/
	}
		
	$result = "<a href=\"index.php?cmd=do_set_sort&amp;crit=$criteria&amp;order=$order&amp;new_order=$new_order\">$order</a>";
		
	if ($order != 0) {
		$result .= "<a href=\"index.php?cmd=do_toggle_sort_dir&amp;order=$order\">$dirs</a>";
	}

	return $result;
}
?>

<?php
if($ajax) {
?>
<script type="text/javascript">
    <!--
    <?php
    sajax_show_javascript();
    ?>
    -->
</script>

<script src="javascript/list_tasks.js" type="text/javascript"></script>
<?php
}
?>

<table class="tasklist">
<tr>
	<th nowrap="nowrap"><?php echo _TITLE . sort_widget('title') ?></th>
	<th nowrap="nowrap"><?php echo _STATUS . sort_widget('status') ?></th>
	<th nowrap="nowrap"><?php echo _PRIORITY . sort_widget('priority') ?></th>
	<th nowrap="nowrap"><?php echo _CATEGORY . sort_widget('category') ?></th>
<?php
if ($_SESSION['task_who'] != 'everyone') {
?>
	<th nowrap="nowrap"><?php echo _CREATION . sort_widget('creationdate') ?></th>
<?php
} else {
?>
	<th nowrap="nowrap"><?php echo _WHOS_TASK . sort_widget('login') ?></th>
<?php
}

if (!$print_mode) {
?>
	<th nowrap="nowrap"><?php echo _ACTIONS ?></th>
<?php
}
?>
</tr>

<?php
if (!$print_mode) {
?>
<tr class="filter">
	<th nowrap="nowrap">
		<form action="index.php" method="get" name="filter_text_form">
			<input type="text"
                   class="btn"
                   name="filter_text"
                   value="<?php if(isset($output['filter_text'])) {
                                    echo
                                    htmlentities($output['filter_text'],
                                    ENT_QUOTES, 'UTF-8');
                                }?>"
                   onmouseover="hov(this,'btn btnhov')"
                   onmouseout="hov(this,'btn')" />
                   
			<input type="submit"
                   value="<?php echo _FILTER ?>"
                   class="btn"
                   onmouseover="hov(this,'btn btnhov')"
                   onmouseout="hov(this,'btn')" />
		</form>
	</th>

	<th nowrap="nowrap">
		<form action="index.php" method="get" name="filter_status_form">
			<select name="task_what" size="1" class="btn" onchange="filter_status_form.submit();">
				<option value="all"<?php echo ($output['task_what'] == 'all')?' selected="selected"':'' ?>><?php echo _TASKS_ALL ?></option>
				<option value="daily"<?php echo ($output['task_what'] == 'daily')?' selected="selected"':'' ?>><?php echo _TASKS_DAILY ?></option>
				<option value="open-ended"<?php echo ($output['task_what'] == 'open-ended')?' selected="selected"':'' ?>><?php echo _OPEN_ENDED ?></option>
				<option value="weekly"<?php echo ($output['task_what'] == 'weekly')?' selected="selected"':'' ?>><?php echo _TASKS_WEEKLY ?></option>
				<option value="monthly"<?php echo ($output['task_what'] == 'monthly')?' selected="selected"':'' ?>><?php echo _TASKS_MONTHLY ?></option>
				<option value="yearly"<?php echo ($output['task_what'] == 'yearly')?' selected="selected"':'' ?>><?php echo _TASKS_YEARLY ?></option>
				<option value="open"<?php echo ($output['task_what'] == 'open')?' selected="selected"':'' ?>><?php echo _TASKS_OPEN ?></option>
				<option value="completed"<?php echo ($output['task_what'] == 'completed')?' selected="selected"':'' ?>><?php echo _TASKS_COMPLETED ?></option>
				<option value="overdue"<?php echo ($output['task_what'] == 'overdue')?' selected="selected"':'' ?>><?php echo _TASKS_OVERDUE ?></option>
				<option value="this_week"<?php echo ($output['task_what'] == 'this_week')?' selected="selected"':'' ?>><?php echo _TASKS_THIS_WEEK ?></option>
<?php
if ($output['task_what'] == 'date') {
?>
				<option value="date" selected="selected"><?php echo _TASKS_DATE .' '. format_date_simple($output['task_date'], $date_format) ?></option>
<?php
}
?>
			</select>
		</form>
	</th>

	<th nowrap="nowrap">
		<form action="index.php" method="get" name="filter_priority_form">
			<?php disp_priority($output['filter_priority'], '', 'filter_priority', 'onchange="filter_priority_form.submit();"') ?>
		</form>
	</th>

	<th nowrap="nowrap">
		<form action="index.php" method="get" name="filter_category_form">
			<?php disp_category($output['filter_category'], '', 'filter_category', 'onchange="filter_category_form.submit();"', _ALL_CATEGORIES, true, true) ?>
		</form>
	</th>

	<th></th>
	<th class="actions" nowrap="nowrap">
		<a href="index.php?print=true"><?php echo _PRINT ?></a>
		<a href="index.php?cmd=do_export_xml"><?php echo _EXPORT ?></a>
	</th>
</tr>

<tr class="new">
	<th nowrap="nowrap">
		<form action="index.php?cmd=do_add_task_quick" method="post">
			<input type="text"
                   class="btn"
                   name="task_name"
                   maxlength="50"
                   onmouseover="hov(this,'btn btnhov')"
                   onmouseout="hov(this,'btn')" />
                   
			<input type="submit"
                   value="<?php echo _ADD ?>"
                   class="btn"
                   onmouseover="hov(this,'btn btnhov')"
                   onmouseout="hov(this,'btn')" />
		</form>
	</th>

	<th nowrap="nowrap">
		<form action="index.php" method="get" name="filter_who_form">
			<select name="task_who" size="1" class="btn" onchange="filter_who_form.submit();">
				<option value="mine"<?php echo ($output['task_who'] == 'mine')?' selected="selected"':'' ?>><?php echo _SEARCH_MINE ?></option>
<?php
if($isadmin) {
?>
				<option value="everyone"<?php echo ($output['task_who'] == 'everyone')?' selected="selected"':'' ?>><?php echo _SEARCH_EVERYONES ?></option>
<?php
}
?>
<?php
while($myrow = mysql_fetch_array($pub_users)) {
    if($output['login'] != $myrow['login']) {
?>
				<option value="<?php echo $myrow['login'] ?>"<?php echo ($output['task_who'] == $myrow['login'])?' selected="selected"':'' ?>><?php echo ucfirst($myrow['login'])._SEARCH_USERS ?></option>
<?php
    }
}
?>
			</select>
		</form>
	</th>
	<th></th>
	<th></th>
	<th></th>
	<th class="actions" nowrap="nowrap">
<?php
$cmd = "cmd=do_set_view&amp;tasks=" . $_SESSION['task_what']
                     ."&amp;users=" . $_SESSION['task_who']
                     ."&amp;priority=" . $_SESSION['filter_priority']
                     ."&amp;category=" . $_SESSION['filter_category'];
?>
        <a href="index.php?<?php echo $cmd ?>"><?php echo _SET_VIEW ?></a>
    </th>
</tr>

<?php
}
global $table_prefix;

while($myrow = mysql_fetch_array($output['result'])) {
	$deadline = 1;
    $deny_group = 0;
    $deny_user = 0;
	$id = $myrow['id'];
    $title = trim($myrow['title']);
    $prio = $myrow['priority'];
    $recurrence = $myrow['recurrence'];
    $result = db_query("SELECT * FROM ".$table_prefix."comments WHERE task_id='$id'");
    $num_comments = mysql_num_rows($result);

    $i = 0;
    $comments = array();
    while($com = mysql_fetch_array($result)) {
        $comments[$i]['date'] = $com['date'];
        $comments[$i]['comment'] = $com['comment'];
        $comments[$i]['login'] = $com['login'];
        $comments[$i]['id'] = $com['id'];
        $i++;
    }

	list($status, $image) = get_status($myrow, $date_format);
    
    $temp_group = substr($myrow['login'], 6);
    $in_array = array_search($temp_group, $user_in_groups);

    if (isset($temp_group)) {
        $deny_group = 0;
    } else {
        $deny_group = 1;
    }

    if ($myrow['login'] != $output['login'] && !is_numeric($in_array) && !$isadmin) {
        $deny_user = 1;
    } else {
        $deny_user = 0;
    }

    if($prio == 0) {
?>
        <tr class="<?php echo ((++$i % 2 == 0)?'even':'odd') ?>">
<?php
    } else {
?>
        <tr class="<?php 
                        if ((++$i % 2) == 0) { 
                            print "even_". $prio; 
                        } else {
                            print "odd_". $prio; 
                        }
                    ?>">
<?php
    }
?>
<?php
    if($prio == 0) {
?>
    	<td class="<?php echo ((++$k % 2 == 0)?'even':'odd') ?>" id="task_<?php echo $id ?>">
<?php
    } else {
?>
        <td class="<?php 
                        if ((++$k % 2) == 0) { 
                            print "even_". $prio; 
                        } else {
                            print "odd_". $prio; 
                        }
                    ?>" id="task_<?php echo $id ?>">
<?php
    }

    $id = htmlentities($id, ENT_QUOTES, 'UTF-8');
?>
    <span class="tasktitle">
<?php
    if($ajax) {
?>
    <span id="plus_minus_<?php echo $id ?>">
        <a href="#" style="text-decoration:none;" onclick="toggleItem('<?php echo $id ?>', <?php echo $num_comments ?>); return false;"><img src="images/plus.gif" alt="Expand" /></a>
    </span>
<?php
    }
?>
    <a href="index.php?cmd=view_task&amp;task_id=<?php echo $id ?>" title="<?php echo $num_comments > 0 ? $num_comments : 'No' ?> Comments" class="task">
    			<?php echo $title ?>
			    <?php echo $num_comments > 0 ? '*' : '' ?>
	</a>
    </span>
<?php
    if($ajax) {
?>
    <span class="editbox">
		<a href="#" onclick="editCell('<?php echo $id ?>', this, '<?php echo addslashes($title) ?>', 'task');return false;"><?php echo _EDIT ?></a>
    </span>
<?php
    }
?>
    </td>
	<td id="date_<?php echo $id ?>" nowrap="nowrap">

    <span class="tasktitle">
<?php
    if(isset($image)) {
?>
		<img align="middle" src="themes/<?php echo $theme; ?>/images/<?php echo $image ?>" alt="<?php echo $status ?>" />&nbsp;
<?php
    }

    echo $status;
    
    if($myrow['completed'] == 1) {
        echo ' ' . _AS_OF . ' ' . format_date_simple($myrow['compdate'], $date_format);
    }
?>
    </span>
<?php
    if($recurrence == '0' && $ajax && $myrow['completed'] == '0') {
?>
        <span class="editbox">
            <a href="index.php?cmd=popcal&amp;id=<?php echo $id ?>&amp;pop_how=list" onclick="javascript:nw=window.open('index.php?cmd=popcal&amp;id=<?php echo $id ?>&amp;pop_how=list','popcal','height=500,width=500,location=no,scrollbars=yes,menubars=no,toolbars=no,resizable=yes');nw.opener=self;return false;">
		    <img src="themes/<?php echo $theme; ?>/images/calendar.gif" alt="<?php echo _CHANGE_DUE_DATE ?>" />
            </a>
        </span>
<?php
    }
?>
	</td>
<?php
    if($ajax) {
?>
    <td align="center">
        <form action="index.php" id="prio_<?php echo $id ?>">
            <?php disp_priority($myrow['priority'], '', 'newprio_'.$id, 'onchange="startUpdatePriority('.$id.', this.value);return false;"'); ?>
        </form>
<?php
    } else {
?>
    <td>
        <?php echo $_PRIORITY[$myrow['priority']] ?>
<?php
    }
?>
    </td>
<?php 
    if($myrow['category'] == 0) {
        $myrow['category_name'] = _NO_CATEGORY;
    }
?>
    <td><?php echo $myrow['category_name'] ?></td>
<?php
    if ($_SESSION['task_who'] != 'everyone') {
?>
	<td>
        <?php echo format_date_simple($myrow['creationdate'], $date_format) ?>
    </td>
<?php
    } else {
        if (substr($myrow['login'], 0, 6) == 'group_') {
?>
    <td><?php echo get_group_name(substr($myrow['login'], 6, (strlen($myrow['login'] - 6)))) ?></td>
<?php
        } else {
?>
    <td><?php echo $myrow['login'] ?></td>
<?php
        }
    }
?>
<?php
	if (!$print_mode) {
?>
	    <td class="actions">
<?php
        if ($deny_user || $deny_group) {
            echo _ACCESS_DENIED;
        } else {
?>
    		<a href="index.php?cmd=edit_task&amp;task_id=<?php echo $id ?>"><?php echo _EDIT ?></a>
<?php
            if($ajax) {
?>
                <a id="delRow_<?php echo $id ?>" href="#" onclick="startDeleteTask('<?php echo $id ?>');return false;"><?php echo _DELETE ?></a>
<?php
            } else {
?>
                <a href="index.php?cmd=do_delete_task&amp;task_id=<?php echo $id ?>"><?php echo _DELETE ?></a>
<?php
            }
    	    if ($myrow['completed'] == 1) {
?>
        		<a href="index.php?cmd=do_open_task&amp;task_id=<?php echo $id ?>"><?php echo _OPEN ?></a>
<?php
		    } else {
?>
        		<a href="index.php?cmd=do_complete_task&amp;task_id=<?php echo $id ?>"><?php echo _COMPLETE ?></a>
<?php
		    }
?>
    	</td>
<?php
        }
	}
?>
</tr>

<?php
    if($ajax) {
?>
            <tr id="edit_<?php echo $id ?>" class="hide">
                <td class="empty"></td>
                <td colspan="4" style="border-top:1px solid black;">
                    <textarea class="btn" id="in_edit_<?php echo $id ?>" rows="3" cols="85"><?php echo strip_tags($myrow['task']) ?></textarea>
                    <br />
                    <input type="submit" class="btn" value="<?php echo _UPDATE ?>" onmouseover="hov(this,'btn btnhov')" onmouseout="hov(this,'btn')" onclick="startUpdateTask('<?php echo $id ?>');return false;" />
                    <span id="in_edit_<?php echo $id ?>_status"></span>
                </td>
            </tr>
            
<?php
        if($num_comments > 0) {
?>
            <tr id="row_<?php echo $id ?>" class="hide">
                <td class="empty"></td>
                <th class="com_header"><?php echo _DATE ?></th>
                <th class="com_header" colspan="3"><?php echo _COMMENT ?></th>
                <th class="com_header"><?php echo _WHO ?></th>
            </tr>
<?php
            for($i = 0; $i < $num_comments; $i++) {
?>
            <tr id="com_<?php echo $id ?>_num_<?php echo $i ?>" class="hide">
                <td class="empty"></td>
                <td style="border-top:1px solid black;"><?php echo $comments[$i]['date']; ?></td>
                <td colspan="3" id="com_<?php echo $id ?>_num_<?php echo $comments[$i]['id'] ?>" style="border-top:1px solid black;">
                    <span class="tasktitle">
                        <?php echo $comments[$i]['comment']; ?>
                    </span>
                    <span class="editbox">
            	    	<a href="#" onclick="startDeleteComment('<?php echo $id ?>', '<?php echo $comments[$i]['id'] ?>', '<?php echo $i ?>');return false;"><?php echo _DELETE ?></a>
                    </span>
                    <span class="editbox">
            	    	<a href="#" onclick="editCell('num_<?php echo $comments[$i]['id'] ?>', this, '<?php echo addslashes($comments[$i]['comment']) ?>', 'com_<?php echo $id ?>');return false;"><?php echo _EDIT ?></a>
                    </span>
                </td>
                <td style="border-top:1px solid black;"><?php echo $comments[$i]['login']; ?></td>
            </tr>
<?php
            }
?>
<?php
        }
    $prev_prio = $myrow['priority'];
    }
}
?>
</table>
