<?php
/* vim: set ts=4 sw=4 si::
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: popcal.html,v 1.5 2006/09/26 20:31:30 zoidian Exp $
*/
?>
<?php
global $login, $theme, $version;

// sajax
require("includes/ajax.php");
require("includes/Sajax.php");
sajax_init();
sajax_export("updateDate");
sajax_handle_client_request();
global $sajax_request_type, $sajax_debug_mode;
$sajax_request_type = "POST";
$sajax_debug_mode = 0;

if(isset($_REQUEST['month'])) {
    $month = $_REQUEST["month"];
} else {
    $month = "";
}
if(isset($_REQUEST['year'])) {
    $year = $_REQUEST["year"];
} else {
    $year = "";
}
$date = getDate();

if(!$year)
    $year = $date["year"];

if($year != $date["year"])
    $year == $year;
else
    $year = $date["year"];

if(!$month)
    $month = $date["mon"];

if($month < 10)
    $month = "0" . $month;

if($month == 01 || $month == 1)
    $month_name = _JANUARY;
if($month == 02 || $month == 2)
    $month_name = _FEBUARY;
if($month == 03 || $month == 3)
    $month_name = _MARCH;
if($month == 04 || $month == 4)
    $month_name = _APRIL;
if($month == 05 || $month == 5)
    $month_name = _MAY;
if($month == 06 || $month == 6)
    $month_name = _JUNE;
if($month == 07 || $month == 7)
    $month_name = _JULY;
if($month == 08 || $month == 8)
    $month_name = _AUGUST;
if($month == 09 || $month == 9)
    $month_name = _SEPTEMBER;
if($month == 10)
    $month_name = _OCTOBER;
if($month == 11)
    $month_name = _NOVEMBER;
if($month == 12)
    $month_name = _DECEMBER;

$disp_year = $year;
$prevyear = $year;
$nextyear = $year;
$date = getDate();
$day = $date["mday"];
$this_month = getDate(mktime(0, 0, 0, $month, 1, $year));
$next_month = getDate(mktime(0, 0, 0, $month + 1, 1, $year));
$first_week_day = $this_month["wday"];
$days_in_this_month = floor(($next_month[0] - $this_month[0]) / (60 * 60 * 24));
$startdate = $year . $month . "01";
$enddate = $year . $month . $days_in_this_month;

$current_month = $date["mon"];
if($current_month < 10)
    $current_month = "0" . $current_month;

if($month == 12) {
	$prevmonthInt = $month - 1;
	$nextmonthInt = 1;
	$nextyear = $year + 1;
} elseif($month == 1) {
	$prevmonthInt = 12;
	$nextmonthInt = $month + 1;
	$prevyear = $year - 1;
} else {
	$prevmonthInt = $month - 1;
	$nextmonthInt = $month + 1;
}

$date_array = get_calendar_tasks($startdate, $enddate);
$dates = sizeof($date_array)-1;
$id = $_REQUEST['id'];
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="UTF-8" lang="UTF-8">
<head>
<title><?php echo $version; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="themes/<?php echo "$theme/$theme.css" ?>" type="text/css" />
<script type="text/javascript">
    <?php
        sajax_show_javascript();
    ?>
</script>
<script type="text/javascript"><!--
function updateDate_cb(result) {
    var result_array = result.split("~~|~~");
    window.opener.document.getElementById('date_'+result_array[1]).innerHTML = result_array[0];
    setTimeout('self.close()', 1);
//    Effect.Highlight(window.opener.document.getElementById('date_'+result_array[1]));
}

function startUpdateDate(id, new_date, cell) {
    var st = id + '~~|~~' + new_date + '~~|~~' + cell;
    x_updateDate(st, updateDate_cb);
}
--></script>
<script type="text/javascript"><!--
function pickDate(month, day, year, how, obj, id) {
    if(month == '1')
        month = '01';
    else if(month == '2')
        month = '02';
    else if(month == '3')
        month = '03';
    else if(month == '4')
        month = '04';
    else if(month == '5')
        month = '05';
    else if(month == '6')
        month = '06';
    else if(month == '7')
        month = '07';
    else if(month == '8')
        month = '08';
    else if(month == '9')
        month = '09';

    if(day == '1')
        day = '01';
    else if(day == '2')
        day = '02';
    else if(day == '3')
        day = '03';
    else if(day == '4')
        day = '04';
    else if(day == '5')
        day = '05';
    else if(day == '6')
        day = '06';
    else if(day == '7')
        day = '07';
    else if(day == '8')
        day = '08';
    else if(day == '9')
        day = '09';

    if(how == 'edit') {
        window.opener.document.forms['edit_task'].month.value = month;
        window.opener.document.forms['edit_task'].day.value = day;
        window.opener.document.forms['edit_task'].year.value = year;
        window.close();
    } else if(how == 'list') {
        var new_date = year+'-'+month+'-'+day;
        startUpdateDate(id, new_date, obj);
    }
}
--></script>
<script src="javascript/prototype.js" type="text/javascript"></script>
<script src="javascript/scriptaculous.js" type="text/javascript"></script>
    
</head>
<body>
<center><table border="1" class="popcal">
<tr class="popcal"><td colspan="7" class="popcalmonth">
<?php
if($_REQUEST['pop_how'] == 'edit') {
?>
    <a href="index.php?cmd=popcal&amp;month=<?php echo $prevmonthInt; ?>&amp;year=<?php echo $prevyear; ?>&amp;pop_how=edit&ampid=<?php echo $id ?>" class="popcal"><?php echo _PREV; ?></a>
<?php
} elseif($_REQUEST['pop_how'] == 'list') {
?>
    <a href="index.php?cmd=popcal&amp;month=<?php echo $prevmonthInt; ?>&amp;year=<?php echo $prevyear; ?>&amp;pop_how=list&amp;id=<?php echo $id ?>" class="popcal"><?php echo _PREV; ?></a>
<?php
}
?>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<?php echo $month_name." ".$disp_year; ?>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<?php
if($_REQUEST['pop_how'] == 'edit') {
?>
    <a href="index.php?cmd=popcal&amp;month=<?php echo $nextmonthInt; ?>&amp;year=<?php echo $nextyear; ?>&amp;pop_how=edit&amp;id=<?php echo $id ?>" class="popcal"><?php echo _NEXT; ?></a></td></tr>
<?php
} elseif($_REQUEST['pop_how'] == 'list') {
?>
    <a href="index.php?cmd=popcal&amp;month=<?php echo $nextmonthInt; ?>&amp;year=<?php echo $nextyear; ?>&amp;pop_how=list&amp;id=<?php echo $id ?>" class="popcal"><?php echo _NEXT; ?></a></td></tr>
<?php
}
?>
<tr class="popcal">
<th class="popcal" width="50"><?php echo _SUN; ?></th>
<th class="popcal" width="50"><?php echo _MON; ?></th>
<th class="popcal" width="50"><?php echo _TUE; ?></th>
<th class="popcal" width="50"><?php echo _WED; ?></th>
<th class="popcal" width="50"><?php echo _THU; ?></th>
<th class="popcal" width="50"><?php echo _FRI; ?></th>
<th class="popcal" width="50"><?php echo _SAT; ?></th>
</tr><tr class="popcal">
<?php
$cells = 1;
for($week_day = 0; $week_day < $first_week_day; $week_day++) {
?>
    <td class="popcalblank">&nbsp;</td>
<?php
    $cells++;
}
    
$week_day = $first_week_day;
for($day_counter = 1; $day_counter <= $days_in_this_month; $day_counter++) {
	if($day_counter < 10) {
    	$new_day = "0" . $day_counter;
	} else {
    	$new_day = $day_counter;
    }

    $current_day = $year . $month . $new_day;
    
	$week_day %= 7;

    if($week_day == 0) {
?>
        </tr><tr class="popcal">
<?php
	}
	if($day == $day_counter && $month == $current_month) {
?>
        <td class="popcaltoday">
<?php
        if($_REQUEST['pop_how'] == 'edit') {
?>
            <b><a href="javascript:pickDate(<?php echo $month.",".$new_day.",".$year ?>,'edit');" class="poplink"><?php echo $day_counter; ?></a></b><br />
<?php
        } elseif($_REQUEST['pop_how'] == 'list') {
?>
            <form id="date_<?php echo $id ?>">
                <b><a href="javascript:pickDate(<?php echo $month.",".$new_day.",".$year ?>,'list',this,<?php echo $id ?>);" class="poplink"><?php echo $day_counter; ?></a></b><br />
            </form>
<?php
        }
        
        for($i = 0; $i <= $dates; $i++) {
            if($date_array[$i] == $current_day) {
?>
            	</td>
<?php
                break;
            }
        }
    } else {
?>
        <td class="popcal">&nbsp;
<?php
        if($_REQUEST['pop_how'] == 'edit') {
?>
            <a href="javascript:pickDate(<?php echo $month.",".$new_day.",".$year ?>,'edit');" class="poplink"><?php echo $day_counter; ?></a><br />
<?php
        } elseif($_REQUEST['pop_how'] == 'list') {
?>
            <form id="date_<?php echo $id ?>">
                <a href="javascript:pickDate(<?php echo $month.",".$new_day.",".$year ?>,'list',this,<?php echo $id ?>);" class="poplink"><?php echo $day_counter; ?></a><br />
            </form>
<?php
        }
        
        for($i = 0; $i <= $dates; $i++) {
            if($date_array[$i] == $current_day) {
?>
                </td>
<?php
                break;
            }
        }
    }
    $week_day++;
    $cells++;
}

if($days_in_this_month > 30 && $first_week_day == 6 ||
        $days_in_this_month > 30 && $first_week_day == 5) {
    $howmany = 42;
} else {
    $howmany = 35;
}

for($cells; $cells < $howmany; $cells++) {
?>
    <td class="popcalblank">&nbsp;</td>
<?php
}
?>
</tr>
</table></center><br />
</body>
</html>
