<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: reports_menu.html,v 1.3 2005/03/20 16:03:55 zoidian Exp $
*/
?>
<?php
global $isadmin, $login;

$what_kind = get_value_session_request('what_kind');
?>

<div class="adminmenu">
<?php
if ($isadmin) {
?>
    <li><a href="index.php?cmd=admin_menu&amp;admin_what=reports&amp;what_kind=users"><?php echo "User Reports"; ?></a></li>
    <li><a href="index.php?cmd=admin_menu&amp;admin_what=reports&amp;what_kind=groups"><?php echo "Group Reports"; ?></a></li>
<?php
}
?>
</div>

<div class="reportsmenu">
<?php
if (isset($what_kind) && $what_kind) {
    if($what_kind == 'users') {
		include('html/reports_users.html');
    } elseif($what_kind == 'groups') {
    	include('html/reports_groups.html');
    } else {
?>
	    <div class="error"><?php echo _ADMIN_COMMAND .' '. $what_kind .' '.  _COMMAND_ERROR; ?></div>
<?php
	}
} else {
	include('html/reports_users.html');
}
?>

</div>
