<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: reports_groups.html,v 1.6 2006/09/01 15:49:47 zoidian Exp $
*/
?>
<?php
global $login, $isadmin, $table_prefix;
$i = 0;

$result = db_query("SELECT * FROM ".$table_prefix."groups");
while($myrow = mysql_fetch_array($result)) {
    $group_id = "group_" . $myrow['id'];
    create_report($group_id, $myrow['name']);
    $i++;
    echo "<BR>";
}
?>

<?php
function create_report($login, $name='') {
	global $table_prefix;

    if($name == "") {
        $name = $login;
    }
    
    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login'");
    $total = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND completed='1'");
    $completed = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND completed='0'");
    $open = mysql_fetch_array($result);
    
    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='3' AND completed='1'");
    $high = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='2' AND completed='1'");
    $medium = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='1' AND completed='1'");
    $low = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='0' AND completed='1'");
    $undefined = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."comments "
                      ."WHERE login='$login'");
    $comments = mysql_fetch_array($result);

    if($total[0] == 0) return -1;

    echo "<center><table border=\"1\">"
        ."<tr><td align=\"center\" colspan=\"2\"><b>" . $name . "</b></td></tr>"
        ."<tr><td>Total Tasks:</td><td>" . $total[0] . "</td>"
        ."<td rowspan=\"8\" valign=\"bottom\" align=\"center\">"
        ."<iframe frameborder=\"0\" width=\"200\" height=\"100\" src=\"includes/graph.php?total=$total[0]&amp;completed=$completed[0]&amp;open=$open[0]&amp;high=$high[0]&amp;medium=$medium[0]&amp;low=$low[0]&amp;undefined=$undefined[0]&amp;comments=$comments[0]\"></iframe>"
        ."</td</tr>"
        ."<tr><td>Completed Tasks:</td><td>" . $completed[0] . "</td></tr>"
        ."<tr><td>Open Tasks:</td><td>" . $open[0] . "</td></tr>"
        ."<tr><td>High Priority Open Tasks:</td><td>" . $high[0] . "</td></tr>"
        ."<tr><td>Medium Priority Open Tasks:</td><td>" . $medium[0] . "</td></tr>"
        ."<tr><td>Low Priority Open Tasks:</td><td>" . $low[0] . "</td></tr>"
        ."<tr><td>Undefined Priority Open Tasks:</td><td>" . $undefined[0] . "</td></tr>"
        ."<tr><td>Total Comments:</td><td>" . $comments[0] . "</td></tr>"
        ."</table></center>";
}

function draw_chart() {
    $values = array("23","32","35","57","12",
                    "3","36","54","32","15",
                    "43","24","30");

    $columns  = count($values);

    $width = 300;
    $height = 200;

    $padding = 5;

    $column_width = $width / $columns ;

    $im        = imagecreate($width,$height);
    $gray      = imagecolorallocate ($im,0xcc,0xcc,0xcc);
    $gray_lite = imagecolorallocate ($im,0xee,0xee,0xee);
    $gray_dark = imagecolorallocate ($im,0x7f,0x7f,0x7f);
    $white     = imagecolorallocate ($im,0xff,0xff,0xff);

    imagefilledrectangle($im,0,0,$width,$height,$white);

    $maxv = 0;

    for($i=0;$i<$columns;$i++)$maxv = max($values[$i],$maxv);

    for($i=0;$i<$columns;$i++) {
        $column_height = ($height / 100) * (( $values[$i] / $maxv)*100);

        $x1 = $i*$column_width;
        $y1 = $height-$column_height;
        $x2 = (($i+1)*$column_width)-$padding;
        $y2 = $height;

        imagefilledrectangle($im,$x1,$y1,$x2,$y2,$gray);

        imageline($im,$x1,$y1,$x1,$y2,$gray_lite);
        imageline($im,$x1,$y2,$x2,$y2,$gray_lite);
        imageline($im,$x2,$y1,$x2,$y2,$gray_dark);
    }

    header ("Content-type: image/png");
    imagepng($im);
}
?>
