<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: reports_users.html,v 1.5 2006/09/01 15:49:47 zoidian Exp $
*/
?>
<?php
include('includes/graph.php');
global $login, $isadmin, $table_prefix;
$i = 0;

$result = db_query("SELECT login FROM ".$table_prefix."users");
while($myrow = mysql_fetch_array($result)) {
    $newline = create_report($myrow['login']);
    $i++;

    if($newline != -1) {
        echo "<BR>\n";
    }
}
?>

<?php
function create_report($login, $name='') {
	global $table_prefix;

    if($name == "") {
        $name = $login;
    }
    
    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login'");
    $total = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND completed='1'");
    $completed = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND completed='0'");
    $open = mysql_fetch_array($result);
    
    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='3' "
                      ."AND completed='0'");
    $high = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='2' "
                      ."AND completed='0'");
    $medium = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='1' "
                      ."AND completed='0'");
    $low = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."tasks "
                      ."WHERE login='$login' AND priority='0' "
                      ."AND completed='0'");
    $undefined = mysql_fetch_array($result);

    $result = db_query("SELECT COUNT(*) FROM ".$table_prefix."comments "
                      ."WHERE login='$login'");
    $comments = mysql_fetch_array($result);

    if($total[0] == 0) return -1;

    echo "<center><table border=\"1\">\n"
        ."<tr border=\"0\"><td align=\"center\" colspan=\"3\" border=\"0\"><b>" . $name . "</b></td></tr>\n"
        ."<tr><td>Total Tasks:</td>\n"
        ."<td rowspan=\"8\" valign=\"center\" align=\"center\" border=\"0\">\n";
        $graph = new phpGraph;
        if($total[0] != 0) {
            $graph->AddValue($total[0]);
        }
        if($completed[0] != 0) {
            $graph->AddValue($completed[0]);
        }
        if($open[0] != 0) {
            $graph->AddValue($open[0]);
        }
        if($high[0] != 0) {
            $graph->AddValue($high[0]);
        }
        if($medium[0] != 0) {
            $graph->AddValue($medium[0]);
        }
        if($low[0] != 0) {
            $graph->AddValue($low[0]);
        }
        if($undefined[0] != 0) {
            $graph->AddValue($undefined[0]);
        }
        if($comments[0] != 0) {
            $graph->AddValue($comments[0]);
        }
        $graph->SetShowCountsMode(2);
        $graph->SetBarWidth(10);
        $graph->SetBorderColor("#333333");
        $graph->SetBarBorderWidth(1);
        $graph->SetGraphWidth(220);
        $graph->BarGraphHoriz();
//        ."<iframe frameborder=\"0\" width=\"200\" height=\"100\" src=\"includes/graph.php?total=$total[0]&amp;completed=$completed[0]&amp;open=$open[0]&amp;high=$high[0]&amp;medium=$medium[0]&amp;low=$low[0]&amp;undefined=$undefined[0]&amp;comments=$comments[0]\"></iframe>\n"
    echo "</td</tr>\n";

    if($completed[0] != 0) {
        echo "<tr><td>Completed Tasks:</td></tr>\n";
    }
    if($open[0] != 0) {
        echo "<tr><td>Open Tasks:</td></tr>\n";
    }
    if($high[0] != 0) {
        echo "<tr><td>High Priority Open Tasks:</td></tr>\n";
    }
    if($medium[0] != 0) {
    echo "<tr><td>Medium Priority Open Tasks:</td></tr>\n";
    }
    if($low[0] != 0) {
        echo "<tr><td>Low Priority Open Tasks:</td></tr>\n";
    }
    if($undefined[0] != 0) {
        echo "<tr><td>Undefined Priority Open Tasks:</td></tr>\n";
    }
    if($comments[0] != 0) {
        echo "<tr><td>Total Comments:</td></tr>\n";
    }
    echo "</table></center>\n";
}
?>
