<?php
/* vim: set ts=4 sw=4 si:
* ackerTodo - a web-based todo list manager which supports multiple users
* Copyright (C) 2004-2005 Rob Hensley
*
* This program is free software; you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation; either version 2 of the License, or (at
* your option) any later version.
*
* This program is distributed in the hope that it will be useful, but
* WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program; if not, write to the Free Software
* Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
*
* $Id: view_task.html,v 1.26 2005/06/14 13:36:44 zoidian Exp $
*/
?>
<?php
global $output, $theme, $isadmin, $_PRIORITY;

$task_id = get_value_session_request_output('task_id');

get_task($task_id, $output, TRUE);
$task = stripslashes($output['task']);

$user_in_groups = get_groups_in_array($output['login']);
$temp_group = substr($output['task_owner'], 6);
$in_array = array_search($temp_group, $user_in_groups);

if (isset($temp_group)) {
    $deny_group = 0;
} else {
    $deny_group = 1;
}

if (isset($_SESSION['date_format'])) {
    $date_format = $_SESSION['date_format'];
} else {
    $date_format = 0;
}

if ($output['login'] != $output['task_owner'] && !is_numeric($in_array) && !$isadmin) {
    $deny_user = 1;
} else {
    $deny_user = 0;
}

if ($output['category'] == 0) {
    $output['category_name'] = _NO_CATEGORY;
}

list($status, $image) = get_status($output, $date_format);

$disp_mod = get_active_modules("view_task");
?>

<center>
<table>
	<tr>
		<td align="right"><?php echo _TITLE ?>:</td>
		<td align="left"><?php echo $output['title'] ?></td>
	</tr>

	<tr>
		<td align="right" valign="top"><?php echo _TASK ?>:</td>
		<td align="left"><?php echo $task ?></td>
	</tr>

	<tr>
		<td align="right"><?php echo _STATUS ?>:</td>
		<td align="left">
<?php
if(isset($image)) {
?>
			<img align="middle" src="themes/<?php echo $theme; ?>/images/<?php echo $image; ?>" />&nbsp;
<?php
}

echo $status;
    
if($output['completed'] == 1) {
    echo _AS_OF . format_date_simple($output['compdate'], $date_format) . ' by '. $output['compby'] . '.';
}

if (isset($status_ext)) {
?>
			<br /><?php echo $status_ext; ?>
<?php
}
?>
		</td>
	</tr>

	<tr>
		<td align="right"><?php echo _PRIORITY ?>:</td>
		<td align="left"><?php echo $_PRIORITY[$output['priority']] ?></td>
	</tr>

	<tr>
		<td align="right"><?php echo _CATEGORY ?>:</td>
		<td align="left"><?php echo $output['category_name'] ?></td>
	</tr>

    <tr>
        <td align="right"><?php echo _ASSIGNED_BY ?>:</td>
        <td align="left"><?php echo $output['assignedby']; ?></td>
    </tr>

<?php
        if ($output['completed'] == 1) {
?>
    <tr>
        <td align="right"><?php echo _COMPLETED_BY ?>:</td>
        <td align="left"><?php echo $output['compby']; ?></td>
    </tr>
<?php
        }
?>

	<tr class="actions">
<?php
        if ($deny_user == 0 && $deny_group == 0) {
?>
		<td colspan="2" align="center">
			<a href="index.php?cmd=edit_task&amp;task_id=<?php echo $task_id ?>"><?php echo _EDIT_TASK ?></a>
			<a href="index.php?cmd=do_delete_task&amp;task_id=<?php echo $task_id ?>"><?php echo _DELETE_TASK ?></a>
<?php
            if ($output['completed'] == 1) {
?>
			<a href="index.php?cmd=do_open_task&amp;task_id=<?php echo $task_id ?>"><?php echo _OPEN ?></a>
<?php
            } else {
?>
			<a href="index.php?cmd=do_complete_task&amp;task_id=<?php echo $task_id ?>"><?php echo _COMPLETE ?></a>
<?php
            }
        }
?>
			<a href="index.php?cmd=view_task&amp;task_id=<?php echo $task_id ?>&amp;print=yes"><?php echo _PRINT ?></a>
		</td>
	</tr>
</table>
<br />
<?php
for($m = 0; $m < sizeof($disp_mod); $m++) {
    $file = "modules/" . $disp_mod[$m] . "/module.inc";
    include($file);
    $view_task = $disp_mod[$m] . "_view_task";
    $view_task($output['task_owner']);
}
?>
</center>
