span.tasktitle {
   float: left;
   width: auto;
}

span.editbox {
   float: right;
   width: auto;
   text-align: right;
}

div.mainmenu {
   background-color: #F2F2F2;
   border: 1px dashed #333;
   position: relative;
   padding: 7px;
   width: auto;
   margin-left: 20%;
   margin-right: 20%;
   margin-bottom: 20px;
   text-align: center;
}

div.empty {
   margin-bottom: 8px;
}

div.content {
	margin-left: 0%;
	margin-right: 1.5%;
}

div.adminmenu {
	border-bottom: 1px dotted #333;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 7px;
	padding-bottom: 5px;
}

div.searchmenu {
	background-color: #D7E5F2;
	border: 1px dashed #333;
	text-align: center;
	margin-left: 29%;
	margin-right: 29%;
	margin-bottom: 10px;
	margin-top: 10px;
	width: auto;
	padding-top: 9px;
}

div.divider {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px dotted #333;
}

div.footer p {
	margin: 0px;
	text-align: center;
	font-size: 11px;
}

div.footer a {
	color: black;
}

div.footer img {
   margin-top: 5px;
}

tr form {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

td.calmonth {
	background-color: #9999CC;
	border: 1px solid black;
	color: black;
	border: 1px solid;
	height: 35px;
	text-align: center;
	font-size: 18px;
}

table.cal {
	background-color: #666699;
	color: white;
	border: 1px solid black;
}

td.cal {
	background-color: #9999CC;
	border: 1px solid black;
	color: #000000;
	border: 1px solid;
	height: 75px;
	text-align: center;
}

th.cal {
	background-color: #666699;
	color: #ffffff;
	border: 1px solid black;
	text-align: center;
}

td.calblank {
	background-color: #666699;
	color: #000000;
	border: 1px solid black;
	height: 75px;
	text-align: center;
}

td.caltoday {
/*   background-color: #9999F4; */
	background-color: #999991;
	color: #000000;
	border: 1px solid black;
	height: 75px;
	text-align: center;
}

tr.cal {
	border: 1px solid black;
}

td.popcalmonth {
	background-color: #9999CC;
	border: 1px solid black;
	color: black;
	border: 1px solid;
	height: 50px;
	text-align: center;
	font-size: 18px;
}

table.popcal {
	background-color: #666699;
	color: white;
	border: 1px solid black;
}

td.popcal {
	background-color: #9999CC;
	border: 1px solid black;
	color: #000000;
	border: 1px solid;
	height: 50px;
	text-align: center;
}

th.popcal {
	background-color: #666699;
	color: #ffffff;
	border: 1px solid black;
	text-align: center;
}

td.popcalblank {
	background-color: #666699;
	color: #000000;
	border: 1px solid black;
	height: 25px;
	text-align: center;
}

td.popcaltoday {
	background-color: #999991;
	color: #000000;
	border: 1px solid black;
	height: 25px;
	text-align: center;
}

tr.popcal {
	border: 1px solid black;
}

table {
	border: 1px solid #333;
	background-color: #eee;
	color: #000;
	padding: 2px;
	margin-left: 9px;
	margin-right: 9px;
	border-collapse: collapse;
}

th {
	background-color: #c8ccc8;
	padding-left: 4px;
	padding-right: 4px;
}

table.edittask {
   border: none;
}

table.tasklist {
	border: 2px solid #333;
   width: 99%;
   margin-right: 0px;
}

table.tasklist th {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

table.tasklist td {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.adminmenu th {
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.adminmenu td {
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.adminmenu table {
	border: 2px solid #333;
}

tr.odd {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
   background-color: #d8dcd8;
}

tr.even {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
   background-color: #e8ece8;
}

/*
*  multiple colors:
*     [odd|even]_ + priority
*
*  I've commented out some companion colors, as on the task list they
*  looked like different priorities, and that's not the wanted effect,
*  except for the undefined priority.
*/
tr.odd_1 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #f5ff6b;
	border: 1px dotted;
}

tr.even_1 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #f5ff6b;
	border: 1px dotted;
}

tr.odd_2 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #FF9900;
	border: 1px dotted;
}

tr.even_2 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #FF9900;
	border: 1px dotted;
}

tr.odd_3 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #ff5e24;
	border: 1px dotted;
}

tr.even_3 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #ff5e24;
	border: 1px dotted;
}

tr.odd_4 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #66ffff;
	border: 1px dotted;
}

tr.even_4 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #66ffff;
	border: 1px dotted;
}

tr.odd_5 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #66ff99;
	border: 1px dotted;
}

tr.even_5 {
   font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
   font-size: 12px;
	background-color: #66ff99;
	border: 1px dotted;
}

td {
	padding-left: 4px;
	padding-right: 4px;
}

input.btn,
select.btn,
textarea.btn,
.actions a {
	font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
/*   color: #050; */
/*   background-color: #fed; */
   font-weight: bold;
	color: black;
	background-color: #CEC;
	font-size: 75%;
	border: 1px solid;
	border-top-color: #696;
	border-left-color: #696;
	border-right-color: #363;
	border-bottom-color: #363;
	filter:progid:DXImageTransform.Microsoft.Gradient
		(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
}

input.btnhov {
	border-top-color: #c63;
	border-left-color: #c63;
	border-right-color: #930;
	border-bottom-color: #930;
}

div.taskbuttons {
	margin-left: 9px;
	margin-top: 5px;
}

div.grouptitle {
	margin-left: 9px;
}

.mainmenu ul {
	padding: 0px;
	margin: 0px;
}

.mainmenu li:first-child,
.adminmenu li:first-child {
	border-left: 0px;
}

.mainmenu li,
.adminmenu li {
	display: inline;
	padding-right: 4px;
	padding-left: 6px;
	border-left: 1px dotted #066;
}

a {
	color: #09c;
	font-size: 11px;
	font-weight: 600;
	border-bottom: none;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}

/*.actions a {
	background-color: #CEC;
	border: 1px solid black;
	font-family: Verdana, 'trebuchet ms', helvetica, sans-serif;
	font-size: 70%;
}*/

.actions a:hover,
.actions a:link,
.actions a:visited {
	text-decoration: none;
	color: black;
}

a.cal:link {
	color: blue;
	display: inline;
}

a:link,
a:visited {
	color: #09c;
}

a:hover {
	text-decoration: underline;
}

a.task {
	color: black;
	font-size: 100%;
	font-weight: 300;
}

a.poplink {
   color: yellow;
}

div.error {
	border: 1px dashed #FF0000;
	background-color: #FFCCCC;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 7px;
	width: auto;
	text-align: center;
}

div.message {
	border: 1px dashed #00FF00;
	background-color: #CCFFCC;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 7px;
	width: auto;
	text-align: center;
}

div.debug {
	font-size: 9px;
	font-family: Verdana, helvetica, sans-serif;
/*	position: absolute; */
	bottom: 10px;
}

html>body div.debug {
	top: 10px;
	position: relative;
}

.debug p {
	border-bottom: 1px dashed #CCC;
	padding: 0px;
	margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.debug p.error {
	color: red;
}

table.login {
	margin-left: auto;
	margin-right: auto;
	width: auto;
}

a img {
   border: 0px solid black;
}

.hide {
   font-family: Verdana, Arial, helvetica, sans-serif;
   font-size: 12px;
   display: none;
}

.show {
   font-family: Verdana, Arial, helvetica, sans-serif;
   font-size: 12px;   
   display: table-row;
}

.com_header {
   background-color: #99CCFF;
}

td.empty {
   border-top: 0px;
   border-bottom: 0px;
   border-left: 0px;
}
